/* alerts */
.ui-alerts-opened {
  scroll-behavior: auto !important;
}
.ui-alerts-opened,
.ui-alerts-opened > body {
  overflow: hidden;
}
.ui-alerts-bg {
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.65);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 97;
}
.ui-alerts-bg:not(.ui-open) {
  display: none;
}
.ui-alerts-bg:not(.ui-open-ease) {
  opacity: 0;
}
.ui-alerts-dialog {
  min-width: 280px;
  max-width: 680px;
  background-color: var(--ui-card-bg);
  min-height: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 98;
  transform: translate(-50%, -50%);
}
.ui-alerts-dialog:not(.ui-show) {
  display: none;
}
.ui-alerts-dialog:not(.ui-show-ease) {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}
.ui-alerts-dialog.ui-round .ui-dialog-buttons {
  border-radius: 0 0 6.66666667px 6.66666667px;
}
.ui-alerts-dialog.ui-round button {
  border-radius: 6.66666667px;
}
.ui-alerts-msg {
  text-align: center;
  min-height: 42px;
  padding: 16px 12px;
  position: fixed;
  z-index: 99;
  cursor: pointer;
}
.ui-desktop .ui-alerts-msg:hover {
  opacity: 0.9;
}
.ui-alerts-msg:not(.ui-show) {
  display: none;
}
.ui-alerts-msg:not(.ui-show-ease) {
  opacity: 0;
}
.ui-alerts-msg:not([class*="ui-fill-"]) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(345, 74%, 52%);
}
.ui-alerts-msg.ui-msg-success {
  background-color: hsl(142, 82%, 42%) !important;
}
.ui-alerts-msg.ui-msg-warning {
  background-color: hsl(42, 100%, 45%) !important;
}
.ui-alerts-msg.ui-msg-danger {
  background-color: hsl(0, 82%, 52%) !important;
}
.ui-alerts-msg.ui-c {
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.ui-alerts-msg.ui-c:not(.ui-show-ease) {
  transform: translate(-50%, -40px);
}
.ui-alerts-msg.ui-tr {
  top: 20px;
  right: 20px;
}
.ui-alerts-msg.ui-tl {
  top: 20px;
  left: 20px;
}
.ui-alerts-msg.ui-br {
  bottom: 20px;
  right: 20px;
}
.ui-alerts-msg.ui-bl {
  bottom: 20px;
  left: 20px;
}
.ui-alerts-msg.ui-tr:not(.ui-show-ease),
.ui-alerts-msg.ui-tl:not(.ui-show-ease) {
  transform: translateY(-40px);
}
.ui-alerts-msg.ui-br:not(.ui-show-ease),
.ui-alerts-msg.ui-bl:not(.ui-show-ease) {
  transform: translateY(40px);
}
.ui-dialog-msg {
  text-align: center;
  font-size: 16px;
}
.ui-dialog-buttons {
  text-align: right;
  background-color: hsla(0, 0%, 0%, 0.1);
  padding: 10px 10px 5px 10px;
}
.ui-dialog-buttons button {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  min-width: 68px;
  height: 42px;
  padding: 6px 12px;
  margin-bottom: 5px;
  display: inline-block;
  border: 0;
}
.ui-dialog-buttons button:not(:last-child) {
  margin-right: 5px;
}
button.ui-dialog-success {
  color: hsl(0, 0%, 100%) !important;
  background-color: hsl(142, 82%, 42%);
}
.ui-desktop button.ui-dialog-success:hover {
  background-color: hsl(142, 82%, 48%);
}
button.ui-dialog-error {
  color: hsl(0, 0%, 100%) !important;
  background-color: hsl(0, 82%, 52%);
}
.ui-desktop button.ui-dialog-error:hover {
  background-color: hsl(0, 82%, 58%);
}
button.ui-dialog-custom {
  color: var(--ui-black);
  background-color: var(--ui-btn-bg);
}
.ui-desktop button.ui-dialog-custom:hover {
  background-color: var(--ui-btn-hover-bg);
}
.ui-dialog-close {
  color: currentColor;
  line-height: 0;
  background: transparent;
  padding: 5px;
  border: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  opacity: 0.45;
  cursor: pointer;
}
.ui-dialog-close .ui-icon {
  width: 12px;
  height: 12px;
}
.ui-desktop .ui-dialog-close:hover {
  opacity: 0.75;
}
@media (min-width: 768px) {
  .ui-alerts-msg:not(.ui-c) {
    width: 280px;
  }
  .ui-alerts-msg.ui-c {
    width: 560px;
  }
  .ui-dialog-msg {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .ui-dialog-msg {
    padding: 30px 10px;
  }
  .ui-alerts-msg {
    width: 280px;
  }
}
