/* autocomplete */
.ui-ease-autocomplete {
  transition-property: margin-top, opacity;
  transition-duration: 0.15s;
}
.ui-ease-autocomplete ul {
  transition-property: opacity;
  transition-duration: 0.15s;
}
.ui-ease-autocomplete li {
  transition-property: background-color;
  transition-duration: 0.15s;
}
.ui-autocomplete {
  overflow: visible !important;
}
.ui-autocomplete.ui-open {
  z-index: 19;
}
.ui-autocomplete ul {
  color: var(--ui-black);
  list-style: none;
  min-width: 200px;
  width: 100%;
  background-color: var(--ui-highlighted);
  padding: 0;
  margin: 0;
  position: absolute;
}
.ui-autocomplete:not(.ui-open) ul {
  display: none;
}
.ui-autocomplete:not(.ui-open-ease) ul {
  opacity: 0;
}
.ui-autocomplete:not(.ui-autocomplete-t):not(.ui-border-dual):not(.ui-no-border) ul {
  margin-top: 2px;
}
.ui-autocomplete.ui-border-dual:not(.ui-autocomplete-t) ul,
.ui-autocomplete.ui-no-border:not(.ui-autocomplete-t) ul {
  margin-top: 3px;
}
.ui-autocomplete.ui-autocomplete-t ul {
  bottom: 100%;
}
.ui-autocomplete.ui-autocomplete-t:not(.ui-border-dual):not(.ui-no-border) ul {
  margin-bottom: 2px;
}
.ui-autocomplete.ui-autocomplete-t.ui-border-dual ul {
  margin-bottom: 3px;
}
.ui-autocomplete.ui-autocomplete-t.ui-no-border ul {
  margin-bottom: 1px;
}
.ui-autocomplete li {
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  line-height: 22px;
  height: 42px;
  padding: 10px 15px;
  overflow: hidden;
}
.ui-desktop .ui-autocomplete li:hover,
.ui-autocomplete li.ui-selected {
  background-color: hsla(0, 0%, 0%, 0.075);
  cursor: default;
}
