/* avatars */
[data-ui-mode="light"] {
  --ui-avatar-bg: hsla(0, 0%, 0%, 0.08);
}
[data-ui-mode="dark"] {
  --ui-avatar-bg: hsla(0, 0%, 100%, 0.08);
}
.ui-avatar {
  font-size: 16px;
  width: 50px;
  height: 50px;
}
.ui-avatar,
.ui-avatar-lg,
.ui-avatar-sm,
.ui-avatar-xs {
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.ui-avatar:not(img),
.ui-avatar-lg:not(img),
.ui-avatar-sm:not(img),
.ui-avatar-xs:not(img) {
  text-decoration: none;
  background-color: var(--ui-avatar-bg);
  display: inline-block;
}
.ui-avatar:not(img) > span,
.ui-avatar-lg:not(img) > span,
.ui-avatar-sm:not(img) > span,
.ui-avatar-xs:not(img) > span,
.ui-avatar:not(img) > svg,
.ui-avatar-lg:not(img) > svg,
.ui-avatar-sm:not(img) > svg,
.ui-avatar-xs:not(img) > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-avatar-lg {
  font-size: 24px;
  width: 80px;
  height: 80px;
}
.ui-avatar-lg .ui-icon {
  width: 34px;
  height: 34px;
}
.ui-avatar-sm {
  font-size: 14px;
  width: 48px;
  height: 48px;
}
.ui-avatar-sm .ui-icon {
  width: 18px;
  height: 18px;
}
.ui-avatar-xs {
  font-size: 12px;
  width: 42px;
  height: 42px;
}
.ui-avatar-xs .ui-icon {
  width: 14px;
  height: 14px;
}
.ui-avatar-holder {
  vertical-align: middle;
  display: inline-block;
}
.ui-avatar-holder > *:not(.ui-btn):not(:first-child) {
  margin-left: -15px;
}
.ui-avatar-holder > a {
  text-decoration: none;
}
.ui-avatar-holder [class*="ui-avatar"]:not([class*="ui-stroke"]) {
  border-color: var(--ui-body-bg);
}
.ui-dropdown .ui-avatar-holder [class*="ui-avatar"] {
  border-color: var(--ui-highlighted) !important;
}
.ui-card .ui-avatar-holder [class*="ui-avatar"] {
  border-color: var(--ui-card-bg) !important;
}
