/* buttons */
.ui-ease-btn,
.ui-ease-1st-btn > *,
.ui-ease-2nd-btn > * > * {
  transition-property: color, background-color, border-width, border-color, opacity, transform, box-shadow;
  transition-duration: 0.15s;
}
.ui-ease-btn .ui-icon,
.ui-ease-1st-btn > * .ui-icon,
.ui-ease-2nd-btn > * > * .ui-icon {
  transition-property: color, transform, opacity, stroke-width;
  transition-duration: 0.15s;
}
.ui-btn {
  font-family: 'Poppins', Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 22px;
  height: 42px;
  background-color: var(--ui-btn-bg);
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ui-btn:not([class*="ui-fill"]),
.ui-btn:not([class*="ui-fill"]):active,
.ui-btn:not([class*="ui-fill"]):hover {
  color: var(--ui-black);
}
.ui-btn.ui-round {
  border-radius: 6.66666667px;
}
.ui-btn.ui-round-t {
  border-radius: 6.66666667px 6.66666667px 0 0;
}
.ui-btn.ui-round-r {
  border-radius: 0 6.66666667px 6.66666667px 0;
}
.ui-btn.ui-round-b {
  border-radius: 0 0 6.66666667px 6.66666667px;
}
.ui-btn.ui-round-l {
  border-radius: 6.66666667px 0 0 6.66666667px;
}
.ui-btn:not(.ui-border):not([class*="ui-border-"]) {
  border-width: 0;
}
.ui-btn:not(.ui-btn-multi) {
  white-space: nowrap;
}
.ui-btn:not(.ui-circle) {
  padding-right: 18px;
  padding-left: 18px;
}
.ui-btn.ui-circle {
  padding-right: 30px;
  padding-left: 30px;
}
.ui-btn.ui-border {
  padding-top: 9px;
  padding-bottom: 9px;
}
.ui-btn.ui-border-dual {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ui-btn-no-style {
  color: var(--ui-black);
  font-size: 14px;
  text-align: inherit;
  background: none;
  border: 0;
  cursor: pointer;
}
a.ui-btn-no-style {
  text-decoration: none;
}
.ui-btn-passive {
  opacity: 0.6;
  cursor: default;
}
.ui-btn-active {
  font-weight: 700;
}
.ui-btn-square {
  min-width: 0 !important;
  width: 42px;
  max-width: none !important;
}
.ui-btn-ghost:not(.ui-btn-visible):not(:hover) {
  background-color: transparent !important;
}
.ui-btn-ghost:not(.ui-btn-visible)[class*="ui-fill-dark-"]:not(.ui-text),
.ui-btn-ghost:not(.ui-btn-visible)[class*="ui-fill-dark-"]:not(.ui-text) .ui-icon:not(.ui-text) {
  color: var(--ui-black);
}
.ui-btn-ghost:not(.ui-btn-visible)[class*="ui-fill-dark-"]:hover,
.ui-btn-ghost:not(.ui-btn-visible)[class*="ui-fill-dark-"]:hover .ui-icon {
  color: hsl(0, 0%, 100%) !important;
}
.ui-btn-multi {
  word-wrap: break-word;
  min-height: 42px;
}
.ui-btn-multi:not(.ui-full-h) {
  height: auto !important;
}
.ui-btn-multi.ui-btn-sm {
  min-height: 32px;
}
.ui-btn-multi.ui-btn-xs {
  min-height: 26px;
}
.ui-btn .ui-icon:not(.ui-toggle-icon) {
  vertical-align: middle;
  width: 22px;
  height: 22px;
}
.ui-btn .ui-icon:not(.ui-no-opacity) {
  opacity: 0.45;
}
.ui-btn:not(.ui-btn-multi) .ui-icon:not(.ui-toggle-icon):first-child:last-child {
  vertical-align: top;
}
.ui-btn[class*="ui-fill-dark-"] .ui-icon {
  opacity: 1;
}
.ui-desktop .ui-btn[class*="ui-fill-dark-"]:hover .ui-icon {
  opacity: 1 !important;
}
.ui-desktop .ui-btn:not([class*="ui-fill-"]):not(.ui-btn-passive):hover {
  background-color: var(--ui-btn-hover-bg);
}
.ui-desktop .ui-btn.ui-btn-ghost:not([class*="ui-fill-"]):not(.ui-btn-passive):hover {
  background-color: var(--ui-btn-ghost-hover-bg);
}
.ui-btn-lg,
.ui-form-lg .ui-btn {
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.ui-btn-lg:not(.ui-circle),
.ui-form-lg .ui-btn:not(.ui-circle) {
  padding-right: 20px;
  padding-left: 20px;
}
.ui-btn-lg.ui-circle,
.ui-form-lg .ui-btn.ui-circle {
  padding-right: 36px;
  padding-left: 36px;
}
.ui-btn-lg.ui-btn-square,
.ui-form-lg .ui-btn.ui-btn-square {
  width: 48px;
}
.ui-btn-lg.ui-border,
.ui-form-lg .ui-btn.ui-border {
  padding-top: 11px;
  padding-bottom: 11px;
}
.ui-btn-lg.ui-border-dual,
.ui-form-lg .ui-btn.ui-border-dual {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ui-btn-lg .ui-icon:not(.ui-toggle-icon),
.ui-form-lg .ui-btn .ui-icon:not(.ui-toggle-icon) {
  width: 25px;
  height: 25px;
}
.ui-btn-sm {
  font-size: 12px;
  line-height: 18px;
  height: 32px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.ui-btn-sm:not(.ui-circle) {
  padding-right: 15px;
  padding-left: 15px;
}
.ui-btn-sm.ui-circle {
  padding-right: 27px;
  padding-left: 27px;
}
.ui-btn-sm.ui-btn-square {
  width: 32px;
}
.ui-btn-sm.ui-border {
  padding-top: 6px;
  padding-bottom: 6px;
}
.ui-btn-sm.ui-border-dual {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ui-btn-sm .ui-icon:not(.ui-toggle-icon) {
  width: 18px;
  height: 18px;
}
.ui-btn-xs {
  font-size: 11px;
  line-height: 16px;
  height: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ui-btn-xs:not(.ui-circle) {
  padding-right: 13px;
  padding-left: 13px;
}
.ui-btn-xs.ui-circle {
  padding-right: 25px;
  padding-left: 25px;
}
.ui-btn-xs.ui-btn-square {
  width: 26px;
}
.ui-btn-xs.ui-border {
  padding-top: 4px;
  padding-bottom: 4px;
}
.ui-btn-xs.ui-border-dual {
  padding-top: 3px;
  padding-bottom: 3px;
}
.ui-btn-xs .ui-icon:not(.ui-toggle-icon) {
  width: 16px;
  height: 16px;
}
.ui-sidebar .ui-btn-xs-fluid,
.ui-sidebar .ui-btn-sm-fluid,
.ui-sidebar .ui-btn-md-fluid {
  width: 100% !important;
  display: block;
}
.ui-sidebar .ui-btn-xs-fluid:not(:last-child),
.ui-sidebar .ui-btn-sm-fluid:not(:last-child),
.ui-sidebar .ui-btn-md-fluid:not(:last-child) {
  margin-bottom: 2px;
}
.ui-paging:not(:last-child) {
  margin-bottom: 20px;
}
.ui-paging.ui-form-lg .ui-btn {
  min-width: 48px;
}
.ui-paging .ui-btn {
  text-align: center !important;
  min-width: 42px;
}
.ui-paging .ui-btn-lg {
  min-width: 48px;
}
.ui-paging .ui-btn-sm {
  min-width: 32px;
}
.ui-paging .ui-btn-xs {
  min-width: 26px;
}
.ui-btn-list {
  display: block;
}
.ui-btn-list > .ui-btn {
  width: 100%;
  display: block;
}
.ui-btn-list > .ui-btn:not(:first-child) {
  border-top: 0;
}
.ui-btn-list > .ui-btn:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-b) {
  margin-bottom: 1px;
}
.ui-btn-list > .ui-btn:first-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.ui-btn-list > .ui-btn:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
  border-top: 0;
}
.ui-btn-list > .ui-btn:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.ui-btn-list > .ui-btn:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
  border-bottom: 0;
}
.ui-btn-list > .ui-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.ui-btn-holder {
  display: flex;
}
.ui-btn-holder > .ui-btn {
  flex-grow: 1;
}
.ui-btn-holder > .ui-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.ui-btn-holder > .ui-dropdown {
  flex-grow: 1;
}
.ui-btn-holder > .ui-dropdown:not(:first-child):not(:last-child) > .ui-btn {
  border-radius: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-btn:not(:first-child) {
  border-left: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-btn:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-r) {
  margin-right: 1px;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-btn:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
  border-left: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-btn:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
  border-right: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-dropdown:not(:first-child) {
  border-left: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-dropdown:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-r) {
  margin-right: 1px;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-dropdown:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-dropdown:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
  border-left: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-dropdown:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ui-btn-holder:not(.ui-btn-sm-fluid):not(.ui-btn-xs-fluid) > .ui-dropdown:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
  border-right: 0;
}
@media (max-width: 959px) {
  .ui-btn-md-fluid {
    width: 100% !important;
    display: block;
  }
  .ui-btn-md-fluid:not(:last-child) {
    margin-bottom: 10px;
  }
  .ui-sidebar .ui-btn-md-fluid:not(:last-child) {
    margin-bottom: 2px;
  }
  .ui-btn-square:not(.ui-btn-xs-fluid):not(.ui-btn-md-fluid) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .ui-btn-square {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:not(:first-child),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:not(:first-child) {
    border-left: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-r),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-r) {
    margin-right: 1px;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:first-child,
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-left: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:last-child,
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-right: 0;
  }
}
@media (max-width: 767px) {
  .ui-btn-sm-fluid {
    width: 100% !important;
    display: block;
  }
  .ui-btn-sm-fluid:not(:last-child) {
    margin-bottom: 10px;
  }
  .ui-sidebar .ui-btn-sm-fluid:not(:last-child) {
    margin-bottom: 2px;
  }
  .ui-btn-square:not(.ui-btn-xs-fluid):not(.ui-btn-sm-fluid) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .ui-paging .ui-btn:not(.ui-paging-prev):not(.ui-paging-next):not(.ui-btn-active) {
    display: none;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn,
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown {
    width: 100%;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:not(:first-child),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:not(:first-child) {
    border-top: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-b),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-b) {
    margin-bottom: 1px;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:first-child,
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-top: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:last-child,
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .ui-btn-holder.ui-btn-sm-fluid > .ui-btn:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-sm-fluid > .ui-dropdown:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-bottom: 0;
  }
}
@media (min-width: 481px) {
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:not(:first-child),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:not(:first-child) {
    border-left: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-r),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-r) {
    margin-right: 1px;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:first-child,
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-left: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:last-child,
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-right: 0;
  }
}
@media (max-width: 480px) {
  .ui-btn-xs-fluid {
    width: 100% !important;
    display: block;
  }
  .ui-btn-xs-fluid:not(:last-child) {
    margin-bottom: 10px;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn,
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown {
    width: 100%;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:not(:first-child),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:not(:first-child) {
    border-top: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-b),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:not(:last-child):not(.ui-border):not(.ui-border-dual):not(.ui-border-b) {
    margin-bottom: 1px;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:first-child,
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:first-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-top: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:last-child,
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .ui-btn-holder.ui-btn-xs-fluid > .ui-btn:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual),
  .ui-btn-holder.ui-btn-xs-fluid > .ui-dropdown:last-child:not(.ui-border):not(.ui-border-dual):not(.ui-border-dual) {
    border-bottom: 0;
  }
}
