/* calendar */
[data-ui-mode="light"] {
  --ui-calendar-highlighted-bg: hsla(0, 0%, 0%, 0.1);
  --ui-calendar-weekend-bg: hsla(0, 0%, 0%, 0.06);
  --ui-calendar-details-empty-bg: hsla(0, 0%, 0%, 0.12);
  --ui-calendar-today-btn-bg: hsla(0, 0%, 0%, 0.15);
  --ui-calendar-today-btn-hover-bg: hsla(0, 0%, 0%, 0.2);
}
[data-ui-mode="dark"] {
  --ui-calendar-highlighted-bg: hsla(0, 0%, 100%, 0.1);
  --ui-calendar-weekend-bg: hsla(0, 0%, 100%, 0.06);
  --ui-calendar-details-empty-bg: hsla(0, 0%, 100%, 0.18);
  --ui-calendar-today-btn-bg: hsla(0, 0%, 100%, 0.3);
  --ui-calendar-today-btn-hover-bg: hsla(0, 0%, 100%, 0.2);
}
.ui-ease-calendar {
  transition-property: opacity;
  transition-duration: 0.15s;
}
.ui-ease-calendar .ui-calendar-details,
.ui-ease-calendar thead,
.ui-ease-calendar tbody {
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.ui-ease-calendar button,
.ui-ease-calendar a,
.ui-ease-calendar .ui-calendar-details li {
  transition-property: background-color, opacity;
  transition-duration: 0.15s;
}
.ui-calendar {
  background-color: var(--ui-card-bg);
  padding: 5px;
  overflow: hidden;
  display: block;
  position: relative;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ui-calendar:not(.ui-active) {
  display: none;
}
.ui-calendar,
.ui-calendar * {
  text-align: center !important;
}
.ui-calendar table {
  width: 100%;
  table-layout: fixed;
}
.ui-calendar table.ui-calendar-fill-weekends th:nth-child(n+6),
.ui-calendar table.ui-calendar-fill-weekends td:nth-child(n+6) {
  background-color: var(--ui-calendar-weekend-bg);
}
.ui-calendar th {
  font-weight: 700;
  vertical-align: bottom !important;
  padding: 8px;
}
.ui-calendar tbody td {
  padding: 2px;
}
.ui-calendar tbody td.ui-calendar-days-passive span {
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
  padding: 4px;
  display: block;
  opacity: 0.45;
}
.ui-calendar tbody td button {
  font-size: 16px;
  width: 100%;
  height: 32px;
  background: transparent;
  padding: 6px;
  display: block;
  border: 0;
  position: relative;
}
.ui-calendar tbody td.ui-calendar-toggle-details button:after {
  content: "";
  width: 6px;
  height: 6px;
  background: hsl(347, 100%, 54%);
  display: block;
  border-radius: 100%;
  position: absolute;
  margin-left: -3px;
  bottom: 2px;
  left: 50%;
}
.ui-calendar tbody td.ui-calendar-today button {
  font-weight: 700;
}
.ui-calendar tbody td.ui-calendar-today button:not([class*="ui-fill-"]) {
  background-color: var(--ui-calendar-today-btn-bg);
}
.ui-desktop .ui-calendar tbody td.ui-calendar-today button:not([class*="ui-fill-"]):hover {
  background-color: var(--ui-calendar-today-btn-hover-bg);
}
.ui-calendar tbody td.ui-calendar-pickerday button {
  font-weight: 700;
}
.ui-calendar tbody td.ui-calendar-pickerday button:not([class*="ui-fill-"]) {
  color: hsl(0, 0%, 100%) !important;
  background-color: hsl(345, 74%, 59.5%);
}
.ui-desktop .ui-calendar tbody td.ui-calendar-pickerday button:not([class*="ui-fill-"]):hover {
  background-color: hsl(345, 74%, 67%);
}
.ui-calendar ul {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}
.ui-calendar button {
  background-color: var(--ui-btn-bg);
}
.ui-calendar button:not([class*="ui-fill-"]) {
  color: var(--ui-black);
}
.ui-desktop .ui-calendar button:not([class*="ui-fill-"]):hover {
  background-color: var(--ui-btn-hover-bg);
}
.ui-calendar caption {
  box-sizing: border-box;
  height: 52px;
  background-color: var(--ui-calendar-highlighted-bg);
  padding: 5px 52px;
  margin-bottom: 5px;
  caption-side: top;
}
.ui-calendar caption button {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 32px;
  max-width: 138px;
  height: 42px;
  background-color: transparent;
  overflow: hidden;
  border: 0;
}
.ui-calendar caption > button {
  width: 42px;
  padding: 5px;
  display: block;
}
.ui-calendar caption > button .ui-icon {
  width: 20px;
  height: 20px;
  opacity: 0.65;
}
.ui-calendar-prev {
  margin-left: -47px;
  float: left;
}
.ui-calendar-next {
  margin-right: -47px;
  float: right;
}
.ui-calendar-title {
  font-size: 16px;
  width: 100%;
  float: left;
}
.ui-calendar-title button {
  display: inline-block;
}
.ui-calendar-month {
  font-weight: 700;
  padding: 5px 2.5px 5px 5px;
}
.ui-calendar-year {
  font-weight: 700;
  padding: 5px 5px 5px 2.5px;
}
.ui-calendar.ui-round caption,
.ui-calendar.ui-round caption button {
  border-radius: 6.66666667px;
}
.ui-calendar.ui-round .ui-calendar-panel {
  border-radius: 6.66666667px;
}
.ui-calendar.ui-round .ui-calendar-panel .ui-calendar-panel-call {
  border-radius: 6.66666667px;
}
.ui-calendar.ui-round .ui-calendar-month {
  border-radius: 6.66666667px 0 0 6.66666667px;
}
.ui-calendar.ui-round .ui-calendar-year {
  border-radius: 0 6.66666667px 6.66666667px 0;
}
.ui-calendar.ui-round .ui-calendar-details > button {
  border-radius: 6.66666667px;
}
.ui-calendar.ui-round .ui-calendar-details li {
  box-sizing: border-box;
  border-radius: 6.66666667px;
}
.ui-calendar.ui-round table.ui-calendar-fill-weekends th:nth-child(6) {
  border-radius: 6.66666667px 0 0 0;
}
.ui-calendar.ui-round table.ui-calendar-fill-weekends th:nth-child(7) {
  border-radius: 0 6.66666667px 0 0;
}
.ui-calendar.ui-round table.ui-calendar-fill-weekends tr:last-child td:nth-child(6) {
  border-radius: 0 0 0 6.66666667px;
}
.ui-calendar.ui-round table.ui-calendar-fill-weekends tr:last-child td:nth-child(7) {
  border-radius: 0 0 6.66666667px 0;
}
.ui-calendar.ui-round td button {
  border-radius: 6.66666667px;
}
.ui-calendar:not(.ui-calendar-show-details) .ui-calendar-details {
  opacity: 0;
  transform: translateX(20%);
}
.ui-calendar.ui-calendar-show-details thead,
.ui-calendar.ui-calendar-show-details tbody {
  position: relative;
  z-index: 1;
  opacity: 0 !important;
  transform: translateX(20%);
}
.ui-ie .ui-calendar.ui-calendar-show-details thead,
.ui-ie .ui-calendar.ui-calendar-show-details tbody {
  visibility: hidden;
}
.ui-calendar-details {
  padding-left: 37px;
  position: absolute;
  top: 57px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.ui-calendar-details:not(.ui-open) {
  display: none;
}
.ui-calendar-details > button {
  width: 32px;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.ui-calendar-details > button .ui-icon {
  width: 20px;
  height: 20px;
  opacity: 0.65;
}
.ui-calendar-details ul {
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.ui-calendar-details ul,
.ui-calendar-details ul * {
  text-align: left !important;
}
.ui-mobile .ui-calendar-details ul {
  -webkit-overflow-scrolling: touch;
}
.ui-calendar-details li {
  min-height: 10px;
  background-color: var(--ui-btn-bg);
  padding: 10px 10px 10px 92px;
  display: block;
}
.ui-desktop .ui-calendar-details li:hover {
  background-color: var(--ui-btn-hover-bg);
}
.ui-calendar-details li:not(:last-child) {
  margin-bottom: 5px;
}
.ui-calendar-details li > strong {
  font-size: 62px;
  font-weight: 300;
  letter-spacing: -0.065em;
  text-align: center !important;
  line-height: 57px;
  width: 62px;
  margin-left: -82px;
  float: left;
}
.ui-calendar-details li > b {
  font-size: 16px;
  margin: 10px 0 10px 0;
  display: inline-block;
}
.ui-calendar-details li > span {
  display: block;
}
.ui-calendar-details li > span:not(:last-child) {
  margin-bottom: 2px;
}
.ui-calendar-details li > span > i {
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  background-color: var(--ui-btn-bg);
  padding: 2px 4px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 10px;
}
.ui-calendar-details li > span > a {
  color: var(--ui-black);
  text-decoration: underline;
}
.ui-calendar-details li > span > a:hover {
  text-decoration: none;
}
.ui-calendar-details-empty li {
  height: 100%;
}
.ui-desktop .ui-calendar-details-empty li:hover {
  background-color: var(--ui-btn-bg);
}
.ui-calendar-details-empty li > strong,
.ui-calendar-details-empty li > b,
.ui-calendar-details-empty li > span {
  background-color: var(--ui-calendar-details-empty-bg);
}
.ui-calendar-details-empty li > strong {
  height: 62px;
  border-radius: 50%;
}
.ui-calendar-details-empty li > b {
  width: 35%;
  height: 20px;
  border-radius: 10px;
}
.ui-calendar-details-empty li > span {
  width: 55%;
  height: 10px;
  margin-bottom: 10px !important;
  border-radius: 10px;
}
.ui-calendar-details-empty li > span + span {
  width: 70%;
}
.ui-calendar-details-empty li > span + span + span {
  width: 35%;
}
.ui-calendar-panel {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  transform: translateY(-110%);
}
.ui-mobile .ui-calendar-panel {
  -webkit-overflow-scrolling: touch;
}
.ui-calendar-panel ul {
  display: flex;
  flex-wrap: wrap;
}
.ui-calendar-panel li {
  box-sizing: border-box;
  width: 33.333332%;
  height: 25%;
  padding: 2px;
  flex-grow: 1;
}
.ui-calendar-panel .ui-calendar-panel-call {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 100%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 8px;
  overflow: hidden;
  border: 0;
}
.ui-calendar-panel .ui-calendar-panel-call.ui-selected {
  color: hsl(0, 0%, 100%) !important;
  font-weight: 700;
  background-color: hsl(345, 74%, 59.5%);
}
.ui-desktop .ui-calendar-panel .ui-calendar-panel-call.ui-selected:hover {
  background-color: hsl(345, 74%, 67%);
}
.ui-desktop .ui-calendar-panel .ui-calendar-panel-call:hover {
  background-color: var(--ui-btn-hover-bg);
}
.ui-calendar .ui-calendar-container {
  position: relative;
}
.ui-calendar.ui-calendar-show-panel .ui-calendar-panel {
  transform: translateY(0);
}
.ui-calendar.ui-calendar-show-panel .ui-calendar-container {
  transform: translateY(110%);
}
.ui-input.ui-calendar-picker {
  overflow: visible !important;
}
.ui-input .ui-calendar {
  width: 100%;
  max-width: 744px;
  position: absolute;
  z-index: 20;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.15);
}
.ui-input .ui-calendar:not(.ui-open-ease) {
  opacity: 0;
}
.ui-input:not(.ui-calendar-picker-t).ui-no-border .ui-calendar {
  margin-top: 1px;
}
.ui-input:not(.ui-calendar-picker-t):not(.ui-border-dual):not(.ui-no-border) .ui-calendar {
  margin-top: 2px;
}
.ui-input:not(.ui-calendar-picker-t).ui-border-dual .ui-calendar {
  margin-top: 3px;
}
.ui-input.ui-calendar-picker-t .ui-calendar {
  bottom: 100%;
}
.ui-input.ui-calendar-picker-t .ui-calendar caption {
  margin-top: 5px;
  margin-bottom: 0;
  caption-side: bottom;
}
.ui-input.ui-calendar-picker-t.ui-no-border .ui-calendar {
  margin-top: 1px;
}
.ui-input.ui-calendar-picker-t:not(.ui-border-dual):not(.ui-no-border) .ui-calendar {
  margin-bottom: 2px;
}
.ui-input.ui-calendar-picker-t.ui-border-dual .ui-calendar {
  margin-bottom: 3px;
}
.ui-input.ui-calendar-picker-l .ui-calendar {
  right: 0;
}
@media (min-width: 481px) {
  .ui-input .ui-calendar {
    min-width: 280px;
  }
  .ui-modal .ui-calendar-picker .ui-calendar {
    max-width: 514px;
    position: fixed;
  }
}
@media (max-width: 480px) {
  .ui-input .ui-calendar {
    min-width: 280px;
  }
  .ui-modal .ui-calendar-picker .ui-calendar {
    width: 332px;
    height: 340px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
