/* carousel */
@keyframes ui-carousel-gallery-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui-carousel {
  width: auto;
  overflow: hidden;
  position: relative;
}
.ui-carousel:not(.ui-active) {
  display: none;
}
.ui-carousel:not(.ui-active) .ui-carousel-slider > .ui-carousel-content {
  width: 0 !important;
}
.ui-carousel-touchmove body {
  height: 100%;
  overflow: hidden;
}
.ui-carousel-slider {
  display: flex !important;
  flex-wrap: wrap;
}
.ui-carousel-slider > .ui-carousel-content {
  flex-grow: 1;
}
.ui-carousel-slider > .ui-carousel-content img.ui-photo {
  width: 100%;
  height: auto;
}
.ui-carousel .ui-scroll > *,
.ui-carousel .ui-scroll-v > *,
.ui-carousel .ui-scroll-h > * {
  transform: translateZ(0);
}
.ui-carousel-nav {
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
  overflow: hidden;
  display: block;
  cursor: default;
}
.ui-carousel-nav .ui-carousel-dots {
  vertical-align: middle;
  min-width: 65px;
  display: inline-block;
}
.ui-carousel-nav .ui-carousel-dots i {
  width: 7px;
  height: 7px;
  background-color: currentColor;
  margin: 0 3px;
  display: inline-block !important;
  border-radius: 50%;
}
.ui-carousel-nav .ui-carousel-dots i:not(.ui-show):not(.ui-faded):not(.ui-selected) {
  width: 0;
  height: 0;
  margin: 0 0 3.5px 0;
  opacity: 0;
}
.ui-carousel-nav .ui-carousel-dots i.ui-selected {
  opacity: 1;
  transform: scale(1.5);
}
.ui-carousel-nav .ui-carousel-dots i.ui-show {
  opacity: 0.65;
}
.ui-carousel-nav .ui-carousel-dots i.ui-faded {
  opacity: 0.15;
}
.ui-carousel-animate:not(.ui-show) {
  opacity: 0;
}
.ui-carousel.ui-resized .ui-carousel-animate {
  transition-property: none !important;
  animation-play-state: paused !important;
}
.ui-carousel-gallery-detail {
  position: relative;
}
.ui-carousel-gallery-detail img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  border: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.ui-desktop .ui-carousel-gallery-detail:not(.ui-carousel-gallery-detail-loader) img:hover {
  opacity: 0.45;
}
.ui-carousel-gallery-detail .ui-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;
}
.ui-carousel-gallery-detail.ui-carousel-gallery-detail-loader {
  background-color: hsla(0, 0%, 0%, 0.075);
}
.ui-carousel-gallery-detail.ui-carousel-gallery-detail-loader img {
  opacity: 0;
}
.ui-carousel-gallery-detail.ui-carousel-gallery-detail-loader .ui-carousel-gallery-zoom {
  display: none;
}
.ui-carousel-gallery-detail.ui-carousel-gallery-detail-loader .ui-carousel-gallery-loader {
  animation: ui-carousel-gallery-loader 1.15s linear infinite;
}
.ui-carousel-gallery-detail:not(.ui-carousel-gallery-detail-loader) .ui-carousel-gallery-loader {
  display: none;
}
.ui-carousel-gallery-thumbs {
  text-align: center;
  margin: 15px 0;
}
.ui-carousel-gallery-thumbs .ui-photo {
  width: 100%;
  height: auto;
  background-clip: content-box;
  border: solid 2px transparent;
  cursor: pointer;
}
.ui-carousel-gallery-thumbs .ui-photo.ui-round {
  border-radius: 6.66666667px;
}
.ui-carousel-gallery-thumbs .ui-photo.ui-selected {
  border-color: hsl(42, 100%, 45%);
}
.ui-desktop .ui-carousel-gallery-thumbs .ui-photo:not(.ui-selected):not(:hover) {
  opacity: 0.65;
}
.ui-bring-front:not(.ui-show) {
  transform: scale(1.15);
}
.ui-bring-back:not(.ui-show) {
  transform: scale(0.85);
}
.ui-bring-t:not(.ui-show) {
  transform: translateY(-15px);
}
.ui-bring-r:not(.ui-show) {
  transform: translateX(15px);
}
.ui-bring-b:not(.ui-show) {
  transform: translateY(15px);
}
.ui-bring-l:not(.ui-show) {
  transform: translateX(-15px);
}
@media (min-width: 960px) {
  .ui-carousel-gallery-detail {
    min-height: 210px;
  }
}
@media (max-width: 959px) {
  .ui-md-bring-front:not(.ui-show) {
    transform: scale(1.15);
  }
  .ui-md-bring-back:not(.ui-show) {
    transform: scale(0.85);
  }
  .ui-md-bring-t:not(.ui-show) {
    transform: translateY(-15px);
  }
  .ui-md-bring-r:not(.ui-show) {
    transform: translateX(15px);
  }
  .ui-md-bring-b:not(.ui-show) {
    transform: translateY(15px);
  }
  .ui-md-bring-l:not(.ui-show) {
    transform: translateX(-15px);
  }
}
@media (max-width: 767px) {
  .ui-sm-bring-front:not(.ui-show) {
    transform: scale(1.15);
  }
  .ui-sm-bring-back:not(.ui-show) {
    transform: scale(0.85);
  }
  .ui-sm-bring-t:not(.ui-show) {
    transform: translateY(-15px);
  }
  .ui-sm-bring-r:not(.ui-show) {
    transform: translateX(15px);
  }
  .ui-sm-bring-b:not(.ui-show) {
    transform: translateY(15px);
  }
  .ui-sm-bring-l:not(.ui-show) {
    transform: translateX(-15px);
  }
}
@media (max-width: 480px) {
  .ui-xs-bring-front:not(.ui-show) {
    transform: scale(1.15);
  }
  .ui-xs-bring-back:not(.ui-show) {
    transform: scale(0.85);
  }
  .ui-xs-bring-t:not(.ui-show) {
    transform: translateY(-15px);
  }
  .ui-xs-bring-r:not(.ui-show) {
    transform: translateX(15px);
  }
  .ui-xs-bring-b:not(.ui-show) {
    transform: translateY(15px);
  }
  .ui-xs-bring-l:not(.ui-show) {
    transform: translateX(-15px);
  }
}
