/* forms */
[data-ui-mode="light"] {
  --ui-form-bg: hsla(0, 0%, 100%, 0.75);
  --ui-form-focus-bg: hsl(0, 0%, 100%);
  --ui-form-focus-border: hsla(0, 0%, 0%, 0.35);
  --ui-select-multi-options-border: hsla(0, 0%, 0%, 0.045);
  --ui-range-thumb-color: hsl(220, 3%, 57%);
  --ui-range-track-bg: hsla(0, 0%, 0%, 0.08);
  --ui-range-track-hover-bg: hsla(0, 0%, 0%, 0.15);
  --ui-check-bg: hsla(0, 0%, 0%, 0.65);
  --ui-switch-bg: hsla(0, 0%, 0%, 0.15);
  --ui-form-disabled-bg: hsla(0, 0%, 0%, 0.075);
  --ui-form-readonly-color: hsla(0, 0%, 0%, 0.5);
}
[data-ui-mode="dark"] {
  --ui-form-bg: hsla(0, 0%, 100%, 0.0675);
  --ui-form-focus-bg: hsla(0, 0%, 100%, 0.1275);
  --ui-form-focus-border: hsla(0, 0%, 100%, 0.65);
  --ui-select-multi-options-border: hsla(0, 0%, 100%, 0.045);
  --ui-range-thumb-color: hsl(219, 7%, 40%);
  --ui-range-track-bg: hsla(0, 0%, 100%, 0.08);
  --ui-range-track-hover-bg: hsla(0, 0%, 100%, 0.15);
  --ui-check-bg: hsla(0, 0%, 100%, 0.65);
  --ui-switch-bg: hsla(0, 0%, 100%, 0.15);
  --ui-form-disabled-bg: hsla(0, 0%, 100%, 0.225);
  --ui-form-readonly-color: hsla(0, 0%, 100%, 0.65);
}
.ui-ease-form,
.ui-ease-1st-form > *,
.ui-ease-2nd-form > * > * {
  transition-property: color, background-color, border-color;
  transition-duration: 0.15s;
}
.ui-ease-form .ui-icon,
.ui-ease-1st-form > * .ui-icon,
.ui-ease-2nd-form > * > * .ui-icon {
  transition-property: color, transform, opacity;
  transition-duration: 0.3s;
}
.ui-ease-form .ui-form-state,
.ui-ease-1st-form > * .ui-form-state,
.ui-ease-2nd-form > * > * .ui-form-state {
  transition-property: width, height, background-color, transform, opacity;
  transition-duration: 0.15s;
}
.ui-ease-form select,
.ui-ease-1st-form > * select,
.ui-ease-2nd-form > * > * select {
  transition-property: opacity;
  transition-duration: 0.15s;
}
.ui-ease-form.ui-textarea-toggle textarea,
.ui-ease-1st-form > *.ui-textarea-toggle textarea,
.ui-ease-2nd-form > * > *.ui-textarea-toggle textarea {
  transition-property: height;
  transition-duration: 0.15s;
}
.ui-ease-form.ui-file input,
.ui-ease-1st-form > *.ui-file input,
.ui-ease-2nd-form > * > *.ui-file input {
  transition-property: opacity;
  transition-duration: 0.15s;
}
html:not(.ui-no-effects) .ui-ease-range::-webkit-slider-thumb {
  transition-property: transform;
  transition-duration: 0.15s;
}
html:not(.ui-no-effects) .ui-ease-range::-moz-range-thumb {
  transition-property: transform;
  transition-duration: 0.15s;
}
html:not(.ui-no-effects) .ui-ease-range::-webkit-slider-runnable-track {
  transition-property: background-color;
  transition-duration: 0.15s;
}
html:not(.ui-no-effects) .ui-ease-range::-moz-range-track {
  transition-property: background-color;
  transition-duration: 0.15s;
}
.ui-input,
.ui-select,
.ui-select-multi,
.ui-textarea {
  background-color: var(--ui-form-bg);
  border: solid 1px var(--ui-border-color);
  overflow: hidden;
  display: block;
  position: relative;
}
.ui-input:not([class*="ui-align-"]) select,
.ui-select:not([class*="ui-align-"]) select,
.ui-select-multi:not([class*="ui-align-"]) select,
.ui-textarea:not([class*="ui-align-"]) select {
  text-align: left !important;
}
.ui-input.ui-round,
.ui-select.ui-round,
.ui-select-multi.ui-round,
.ui-textarea.ui-round {
  border-radius: 6.66666667px;
}
.ui-input.ui-round-t,
.ui-select.ui-round-t,
.ui-select-multi.ui-round-t,
.ui-textarea.ui-round-t {
  border-radius: 6.66666667px 6.66666667px 0 0;
}
.ui-input.ui-round-r,
.ui-select.ui-round-r,
.ui-select-multi.ui-round-r,
.ui-textarea.ui-round-r {
  border-radius: 0 6.66666667px 6.66666667px 0;
}
.ui-input.ui-round-b,
.ui-select.ui-round-b,
.ui-select-multi.ui-round-b,
.ui-textarea.ui-round-b {
  border-radius: 0 0 6.66666667px 6.66666667px;
}
.ui-input.ui-round-l,
.ui-select.ui-round-l,
.ui-select-multi.ui-round-l,
.ui-textarea.ui-round-l {
  border-radius: 6.66666667px 0 0 6.66666667px;
}
.ui-input input,
.ui-select select,
.ui-select-multi select,
.ui-textarea textarea {
  outline: 0;
  box-sizing: border-box;
  color: var(--ui-black);
  font-family: 'Poppins', Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  width: 100%;
  background-color: transparent;
  border: 0;
}
.ui-input input:not([type="color"]),
.ui-select select,
.ui-textarea textarea {
  line-height: 18px;
  padding: 10px;
  border-radius: 0;
}
.ui-input input,
.ui-select select,
.ui-select-multi select,
.ui-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ui-input input:not([type="color"]),
.ui-select select {
  height: 40px;
  overflow: hidden;
}
.ui-input,
.ui-select,
.ui-mobile .ui-select-multi {
  line-height: normal;
  min-height: 42px;
}
.ui-chrome .ui-input input:-webkit-autofill {
  -webkit-background-clip: text;
}
.ui-chrome .ui-input input:-webkit-autofill::first-line {
  font-family: 'Poppins', Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}
.ui-chrome .ui-input input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}
.ui-select:not(.ui-form-focus) select {
  opacity: 0.45;
}
.ui-select select {
  padding-right: 36px;
  position: relative;
  z-index: 2;
}
.ui-select option,
.ui-select optgroup {
  background-color: var(--ui-highlighted);
}
.ui-select .ui-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: default;
  transform: translateY(-50%);
  opacity: 0.45;
}
.ui-ie .ui-select select:focus::-ms-value {
  color: inherit;
  background-color: transparent;
}
.ui-ie .ui-select select::-ms-expand {
  display: none;
}
.ui-mobile .ui-select-multi,
.ui-ie .ui-select-multi {
  padding: 10px;
}
.ui-select-multi select {
  margin-bottom: -2px;
}
.ui-edge .ui-select-multi select {
  margin-bottom: -10px;
}
.ui-select-multi option,
.ui-select-multi optgroup {
  padding: 3px 10px;
}
.ui-select-multi:not(.ui-form-light) option:not(:last-child) {
  border-bottom: solid 1px var(--ui-select-multi-options-border);
}
.ui-select-multi.ui-form-light option:not(:last-child) {
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.045);
}
.ui-textarea textarea {
  line-height: 170%;
  vertical-align: top;
  width: 100%;
  overflow: auto;
  resize: vertical;
}
.ui-textarea textarea[disabled],
.ui-textarea textarea[readonly] {
  resize: none;
}
.ui-textarea textarea:not([rows]) {
  height: 4em;
}
.ui-no-border.ui-input input:not([type="color"]),
.ui-no-border.ui-select select {
  line-height: 22px;
  height: 42px;
}
.ui-border-dual.ui-input input:not([type="color"]),
.ui-border-dual.ui-select select {
  line-height: 18px;
  height: 38px;
}
.ui-textarea-toggle:not(.ui-form-focus) textarea {
  line-height: 22px;
  height: 40px;
  resize: none;
}
.ui-textarea-toggle:not(.ui-form-focus).ui-border-dual textarea {
  line-height: 18px;
  height: 38px;
}
.ui-textarea-toggle:not(.ui-form-focus).ui-no-border textarea {
  height: 42px;
}
.ui-file {
  height: 42px;
  border: solid 1px var(--ui-border-color);
  overflow: hidden;
  display: block;
  position: relative;
}
.ui-file input {
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: -30px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}
.ui-file > i {
  white-space: nowrap;
  font-style: normal;
  text-overflow: ellipsis;
  line-height: 40px;
  width: 100%;
  background-color: var(--ui-form-bg);
  padding-right: 20px;
  padding-left: 145px;
  overflow: hidden;
  display: block;
  position: absolute;
}
.ui-file .ui-btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 125px;
  line-height: 20px;
  overflow: hidden;
  float: left;
}
.ui-file .ui-btn .ui-icon {
  width: 20px;
  height: 20px;
}
.ui-file.ui-round.ui-round {
  border-radius: 6.66666667px;
}
.ui-desktop .ui-file:hover input[class] {
  opacity: 0.35;
}
.ui-desktop .ui-file:hover .ui-btn:not([class*="ui-fill-"]):not(.ui-btn-passive) {
  background-color: var(--ui-btn-hover-bg);
}
.ui-file:not(.ui-no-border):not(.ui-border-dual) .ui-btn {
  height: 40px;
}
.ui-file.ui-no-border .ui-btn {
  line-height: 22px !important;
}
.ui-file.ui-no-border > i {
  line-height: 42px;
}
.ui-file.ui-border-dual .ui-btn {
  line-height: 18px !important;
  height: 38px;
}
.ui-file.ui-border-dual > i {
  line-height: 38px;
}
.ui-range {
  width: 100%;
  height: 1.4rem;
  padding: 0;
  background-color: transparent;
}
.ui-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: hsl(142, 82%, 42%);
  border: 0;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ui-range.ui-text::-webkit-slider-thumb {
  background-color: currentColor;
}
.ui-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  background-color: var(--ui-range-track-bg);
  border-color: transparent;
  border-radius: 20px;
  cursor: pointer;
}
.ui-range:hover::-webkit-slider-runnable-track {
  background-color: var(--ui-range-track-hover-bg);
}
.ui-range:not(:disabled):hover::-webkit-slider-thumb {
  transform: scale(1.2);
}
.ui-range:not(:disabled)::-webkit-slider-thumb:active {
  transform: scale(1.4);
}
.ui-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: hsl(142, 82%, 42%);
  border: 0;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ui-range.ui-text::-moz-range-thumb {
  background-color: currentColor;
}
.ui-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  background-color: var(--ui-range-track-bg);
  border-color: transparent;
  border-radius: 20px;
  cursor: pointer;
}
.ui-range:hover::-moz-range-track {
  background-color: var(--ui-range-track-hover-bg);
}
.ui-range:not(:disabled):hover::-moz-range-thumb {
  transform: scale(1.2);
}
.ui-range:not(:disabled)::-moz-range-thumb:active {
  transform: scale(1.4);
}
.ui-range::-ms-thumb {
  width: 1rem;
  height: 1rem;
  background-color: hsl(142, 82%, 42%);
  margin-top: 0;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  border: 0;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ui-range.ui-text::-ms-thumb {
  background-color: currentColor;
}
.ui-range::-ms-track {
  color: transparent;
  width: 100%;
  height: 0.5rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.ui-range:not(:disabled):hover::-ms-thumb {
  transform: scale(1.2);
}
.ui-range:not(:disabled)::-ms-thumb:active {
  transform: scale(1.4);
}
.ui-range::-ms-fill-lower {
  background-color: var(--ui-range-track-bg);
  border-radius: 20px;
}
.ui-range:hover::-ms-fill-lower {
  background-color: var(--ui-range-track-hover-bg);
}
.ui-range::-ms-fill-upper {
  background-color: var(--ui-range-track-bg);
  border-radius: 20px;
}
.ui-range:hover::-ms-fill-upper {
  background-color: var(--ui-range-track-hover-bg);
}
.ui-range:disabled::-webkit-slider-thumb {
  background-color: var(--ui-range-thumb-color);
}
.ui-range:disabled::-moz-range-thumb {
  background-color: var(--ui-range-thumb-color);
}
.ui-range:disabled::-ms-thumb {
  background-color: var(--ui-range-thumb-color);
}
.ui-range:disabled::-webkit-slider-runnable-track {
  cursor: default;
}
.ui-range:disabled::-moz-range-track {
  cursor: default;
}
.ui-label {
  min-height: 22px;
  padding-top: 5px;
  padding-bottom: 3px;
  display: inline-block;
}
.ui-check,
.ui-radio,
.ui-switch {
  vertical-align: middle;
  height: 22px;
  margin-bottom: 2px;
  border: solid 1px var(--ui-border-color);
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.ui-check .ui-form-state,
.ui-radio .ui-form-state,
.ui-switch .ui-form-state {
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-check input,
.ui-radio input,
.ui-switch input {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: 1;
  opacity: 0;
}
.ui-check,
.ui-radio {
  width: 22px;
}
.ui-check .ui-form-state,
.ui-radio .ui-form-state {
  background-color: var(--ui-check-bg);
  opacity: 0;
}
.ui-radio,
.ui-switch.ui-round {
  border-radius: 14px !important;
}
.ui-radio .ui-form-state,
.ui-switch.ui-round .ui-form-state {
  border-radius: 7px;
}
.ui-radio input:checked + .ui-form-state {
  opacity: 1;
}
.ui-check.ui-round {
  border-radius: 6.66666667px;
}
.ui-check.ui-round .ui-form-state {
  border-radius: 3.33333333px;
}
.ui-check input:checked + i,
.ui-check input:indeterminate + .ui-form-state {
  opacity: 1;
}
.ui-check input:indeterminate + .ui-form-state {
  height: 4px;
}
.ui-switch {
  width: 44px;
}
.ui-switch input:checked + .ui-form-state {
  transform: translate(25%, -50%);
}
.ui-switch input:checked + .ui-form-state:not([class*="ui-fill-"]) {
  background-color: hsl(142, 82%, 42%);
}
.ui-switch input:not(:checked) + .ui-form-state,
.ui-switch input:not(:checked) + .ui-form-state[class*="ui-fill-"] {
  background-color: var(--ui-switch-bg);
}
.ui-switch input:not(:indeterminate):not(:checked):not(:indeterminate) + .ui-form-state {
  transform: translate(-125%, -50%);
}
.ui-switch input:indeterminate + .ui-form-state {
  background-color: hsl(42, 100%, 45%);
}
.ui-desktop .ui-switch:hover .ui-form-state {
  width: 18px;
}
.ui-desktop .ui-switch:hover input:checked + .ui-form-state {
  transform: translate(0, -50%);
}
.ui-desktop .ui-switch:hover input:not(:checked) + .ui-form-state {
  transform: translate(-100%, -50%);
}
.ui-desktop .ui-switch:hover input:indeterminate + .ui-form-state {
  transform: translate(-50%, -50%);
}
.ui-required-msg {
  color: hsl(0, 82%, 52%);
  margin-top: 5px;
}
.ui-required-msg.ui-show {
  display: block;
}
.ui-required-msg:not(.ui-show) {
  display: none;
}
.ui-form-color {
  vertical-align: middle;
  width: 89px;
  display: inline-block !important;
}
.ui-form-color input[type="color"] {
  text-align: center;
  line-height: inherit;
  height: 100%;
  padding: 5px;
  border-radius: 0;
  position: absolute;
}
.ui-form-light {
  border-color: hsla(0, 0%, 100%, 0.175) !important;
}
.ui-form-light > input,
.ui-form-light > select:not(:focus),
.ui-form-light > textarea,
.ui-form-light .ui-icon {
  color: hsl(0, 0%, 100%);
}
.ui-form-light > input:-webkit-autofill:not(:focus) {
  -webkit-text-fill-color: hsl(0, 0%, 100%) !important;
}
.ui-form-light.ui-input input::placeholder,
.ui-form-light.ui-textarea textarea::placeholder {
  color: hsla(0, 0%, 100%, 0.4);
}
.ui-form-focus {
  border-color: var(--ui-form-focus-border);
}
.ui-form-focus.ui-form-light {
  border-color: hsla(0, 0%, 100%, 0.65) !important;
}
.ui-form-focus:not(.ui-form-readonly) {
  background-color: var(--ui-form-focus-bg);
  box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.15);
}
.ui-form-focus > input,
.ui-form-focus > select,
.ui-form-focus.ui-form-light > select option,
.ui-form-focus > textarea,
.ui-form-focus .ui-icon:not([class*="ui-text"]) {
  color: var(--ui-black);
}
.ui-form-focus.ui-form-light > input,
.ui-form-focus.ui-form-light > select,
.ui-form-focus.ui-form-light > textarea,
.ui-form-focus.ui-form-light .ui-icon:not([class*="ui-text"]) {
  color: hsl(0, 0%, 100%) !important;
}
.ui-form-focus[class*="ui-form-icon"] .ui-icon,
.ui-form-focus.ui-select .ui-icon {
  opacity: 1;
}
.ui-form-focus.ui-select .ui-icon {
  transform: translateY(-50%) rotate(-180deg);
}
.ui-form-inline,
.ui-form-inline-xs {
  vertical-align: middle;
  display: inline-block !important;
}
.ui-form-disabled {
  background-color: var(--ui-form-disabled-bg);
  opacity: 0.65;
}
.ui-form-disabled.ui-form-light {
  background-color: hsla(0, 0%, 100%, 0.225);
}
.ui-form-readonly input,
.ui-form-readonly textarea {
  color: var(--ui-form-readonly-color);
}
.ui-form-readonly.ui-form-light input,
.ui-form-readonly.ui-form-light textarea {
  color: hsla(0, 0%, 100%, 0.65);
}
.ui-form-label,
.ui-form-info {
  line-height: normal;
  opacity: 0.6;
}
.ui-form-info {
  font-size: 13px;
}
.ui-form-label {
  margin-bottom: 5px;
  display: inline-block;
}
.ui-form-holder .ui-input,
.ui-form-holder .ui-select {
  min-width: inherit !important;
}
.ui-form-holder .ui-round {
  border-radius: 5.66666667px;
}
.ui-form-holder-focus [class*="ui-col-"] > * {
  border-color: var(--ui-form-focus-border);
}
.ui-form-holder-focus [class*="ui-col-"] > .ui-form-light,
.ui-form-holder-focus [class*="ui-col-"] > .ui-border-light {
  border-color: hsla(0, 0%, 100%, 0.65) !important;
}
.ui-form-holder [class*="ui-col-"]:not(:first-child) > * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ui-form-holder [class*="ui-col-"]:not(:last-child) > * {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-form-holder .ui-row:not(:last-child) > [class*="ui-col-"]:last-child > * {
  border-right: 0;
}
.ui-form-holder .ui-row:not(:first-child):not(:last-child) > [class*="ui-col-"] > * {
  border-radius: 0;
}
.ui-form-holder .ui-row:last-child > [class*="ui-col-"]:first-child > * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ui-form-holder .ui-row:first-child > [class*="ui-col-"]:last-child > * {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-form-holder.ui-form-error .ui-input,
.ui-form-holder.ui-form-error .ui-select,
.ui-form-holder.ui-form-error .ui-border,
.ui-form-holder.ui-form-error [class*="ui-border-"] {
  border-color: hsl(0, 82%, 52%) !important;
}
.ui-form-holder.ui-form-error .ui-input,
.ui-form-holder.ui-form-error .ui-select {
  background-color: hsla(0, 82%, 52%, 0.1);
}
.ui-form-holder.ui-form-warning .ui-input,
.ui-form-holder.ui-form-warning .ui-select,
.ui-form-holder.ui-form-warning .ui-border,
.ui-form-holder.ui-form-warning [class*="ui-border-"] {
  border-color: hsl(42, 100%, 45%) !important;
}
.ui-form-holder.ui-form-warning .ui-input,
.ui-form-holder.ui-form-warning .ui-select {
  background-color: hsla(42, 100%, 45%, 0.1);
}
.ui-form-clear {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.ui-form-clear:not(.ui-open) {
  display: none;
}
.ui-form-clear:not(.ui-open-ease) {
  opacity: 0;
}
.ui-input .ui-form-clear .ui-icon {
  width: 16px;
  height: 16px;
}
.ui-form-hint {
  font-size: 13px;
  margin-top: 5px;
  display: block;
}
.ui-form-hint.ui-form-error {
  color: hsl(0, 82%, 52%);
}
.ui-form-hint.ui-form-warning {
  color: hsl(42, 100%, 45%);
}
.ui-form-icon-l > .ui-icon {
  right: inherit;
  left: 10px;
}
.ui-form-icon-l > input {
  padding-left: 38px !important;
}
.ui-form-icon-all > .ui-form-icon-l {
  right: inherit;
  left: 10px;
}
.ui-form-icon-all > input {
  padding-right: 38px !important;
  padding-left: 38px !important;
}
.ui-form-lg .ui-input,
.ui-form-lg .ui-select {
  min-height: 48px;
}
.ui-form-lg .ui-form-color {
  width: 111px;
}
.ui-form-lg .ui-input input:not([type="color"]) {
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  padding-right: 20px;
  padding-left: 20px;
}
.ui-form-lg .ui-input.ui-no-border input:not([type="color"]) {
  line-height: 26px;
  height: 48px;
}
.ui-form-lg .ui-input.ui-border-dual input:not([type="color"]) {
  line-height: 24px;
  height: 44px;
}
.ui-chrome .ui-form-lg .ui-input input:-webkit-autofill::first-line {
  font-size: 16px;
}
.ui-form-lg .ui-select select {
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  padding-right: 20px;
  padding-left: 20px;
  padding-right: 60px;
}
.ui-form-lg .ui-select.ui-no-border select {
  line-height: 26px;
  height: 48px;
}
.ui-form-lg .ui-select.ui-border-dual select {
  line-height: 24px;
  height: 44px;
}
.ui-form-lg .ui-select .ui-icon {
  width: 20px;
  height: 20px;
  right: 20px;
}
.ui-form-lg [class*="ui-form-icon"] > .ui-icon {
  width: 20px;
  height: 20px;
  right: 20px;
}
.ui-form-lg [class*="ui-form-icon"] .ui-icon {
  width: 20px;
  height: 20px;
}
.ui-form-lg [class*="ui-form-icon"] > button {
  right: 20px;
}
.ui-form-lg [class*="ui-form-icon"]:not(.ui-form-icon-l) > input {
  padding-right: 60px !important;
}
.ui-form-lg .ui-file {
  height: 48px;
}
.ui-form-lg .ui-file > i {
  font-size: 16px;
  line-height: 46px;
}
.ui-form-lg .ui-file .ui-btn .ui-icon {
  width: 23px;
  height: 23px;
}
.ui-form-lg .ui-file:not(.ui-no-border):not(.ui-border-dual) .ui-btn {
  line-height: 22px;
  height: 46px;
}
.ui-form-lg .ui-file.ui-no-border .ui-btn {
  line-height: 20px;
}
.ui-form-lg .ui-file.ui-no-border > i {
  line-height: 48px;
}
.ui-form-lg .ui-file.ui-border-dual .ui-btn {
  line-height: 24px;
  height: 44px;
}
.ui-form-lg .ui-file.ui-border-dual > i {
  line-height: 44px;
}
.ui-form-lgicon-l > .ui-icon {
  left: 20px;
}
.ui-form-lgicon-l > input {
  padding-left: 60px !important;
}
.ui-form-lgicon-all > .ui-form-icon-l {
  left: 20px;
}
.ui-form-lgicon-all > input {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.ui-form-lgclear .ui-icon {
  width: 20px;
  height: 20px;
}
.ui-form-error .ui-check,
.ui-form-error .ui-radio,
.ui-form-error .ui-switch {
  background-color: hsla(0, 82%, 52%, 0.1) !important;
  border-color: hsl(0, 82%, 52%) !important;
}
.ui-form-error:not(.ui-form-holder):not(.ui-required-holder):not(.ui-form-hint) {
  background-color: hsla(0, 82%, 52%, 0.1) !important;
  border-color: hsl(0, 82%, 52%) !important;
}
.ui-form-warning .ui-check,
.ui-form-warning .ui-radio,
.ui-form-warning .ui-switch {
  background-color: hsla(42, 100%, 45%, 0.1) !important;
  border-color: hsl(42, 100%, 45%) !important;
}
.ui-form-warning:not(.ui-form-holder):not(.ui-required-holder):not(.ui-form-hint) {
  background-color: hsla(42, 100%, 45%, 0.1) !important;
  border-color: hsl(42, 100%, 45%) !important;
}
[class*="ui-form-icon"] .ui-icon,
[class*="ui-form-icon"] > button {
  color: var(--ui-black);
  cursor: default;
}
[class*="ui-form-icon"] > .ui-icon,
[class*="ui-form-icon"] > button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
[class*="ui-form-icon"] .ui-icon {
  width: 18px;
  height: 18px;
}
[class*="ui-form-icon"] .ui-icon {
  opacity: 0.45;
}
[class*="ui-form-icon"]:not(.ui-form-icon-l) > input {
  padding-right: 38px !important;
}
[class*="ui-form-icon"] > button {
  background-color: transparent;
  border: 0;
}
[class*="ui-form-icon"] > button,
[class*="ui-form-icon"] > button .ui-icon {
  cursor: pointer;
}
[class*="ui-form-icon"] > button:hover .ui-icon {
  opacity: 1;
}
[data-ui-mode="light"].ui-chrome .ui-input input:-webkit-autofill {
  -webkit-text-fill-color: hsl(0, 0%, 0%) !important;
}
[data-ui-mode="dark"].ui-chrome .ui-input input:-webkit-autofill {
  -webkit-text-fill-color: hsl(0, 0%, 100%) !important;
}
[data-ui-mode="dark"] .ui-input input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
@media (min-width: 960px) {
  .ui-form-info {
    padding-top: 11px;
    padding-bottom: 11px;
    display: inline-block;
  }
  .ui-form-lg .ui-form-info {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (max-width: 959px) {
  .ui-form-info {
    display: block;
  }
  .ui-row [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info {
    margin-bottom: -15px;
  }
  .ui-row-gap-md [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info,
  .ui-row-gap-md-v [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info {
    margin-bottom: -5px;
  }
  .ui-row-gap-sm [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info,
  .ui-row-gap-sm-v [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info {
    margin-bottom: 0;
  }
  .ui-row-gap-xs [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info,
  .ui-row-gap-xs-v [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info {
    margin-bottom: 3px;
  }
  .ui-no-row-gap [class*="ui-col-"]:not(.ui-sm-fluid) .ui-form-info {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .ui-sm-fluid .ui-form-info {
    line-height: 42px;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .ui-sm-fluid .ui-form-info {
    display: block;
  }
  .ui-row [class*="ui-col-"] .ui-sm-fluid .ui-form-info {
    margin-bottom: -15px;
  }
  .ui-row-gap-md [class*="ui-col-"].ui-sm-fluid .ui-form-info,
  .ui-row-gap-md-v [class*="ui-col-"].ui-sm-fluid .ui-form-info {
    margin-bottom: -5px;
  }
  .ui-row-gap-sm [class*="ui-col-"].ui-sm-fluid .ui-form-info,
  .ui-row-gap-sm-v [class*="ui-col-"].ui-sm-fluid .ui-form-info {
    margin-bottom: 0;
  }
  .ui-row-gap-xs [class*="ui-col-"].ui-sm-fluid .ui-form-info,
  .ui-row-gap-xs-v [class*="ui-col-"].ui-sm-fluid .ui-form-info {
    margin-bottom: 3px;
  }
  .ui-no-row-gap [class*="ui-col-"].ui-sm-fluid .ui-form-info {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
@media (max-width: 480px) {
  .ui-form-inline-xs {
    width: 100% !important;
    display: block !important;
  }
  .ui-form-inline-xs:not(:last-child):not(.ui-highlight) {
    margin-bottom: 5px;
  }
  .ui-label + .ui-label {
    display: block;
  }
}
