/* gallery */
@keyframes ui-gallery-preview-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui-ease-gallery .ui-photo:after,
.ui-ease-gallery .ui-photo.ui-gallery-has-info > span {
  transition-property: opacity;
  transition-duration: 0.15s;
}
.ui-gallery {
  list-style: none;
  display: block;
}
.ui-gallery:before,
.ui-gallery:after {
  content: "";
  display: table;
}
.ui-gallery:after {
  clear: both;
}
.ui-gallery > li {
  overflow: hidden;
  float: left;
}
.ui-gallery > li img {
  vertical-align: middle;
  display: inline-block;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-gallery > li img.ui-photo-v {
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.ui-gallery a.ui-photo {
  color: var(--ui-black);
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.ui-gallery a.ui-photo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.ui-gallery a.ui-photo.ui-round {
  border-radius: 6.66666667px;
}
.ui-gallery a.ui-photo > img {
  vertical-align: middle;
  display: inline-block;
  border: 0;
}
.ui-gallery a.ui-photo:not(.ui-gallery-preview-info) {
  background: hsla(0, 0%, 0%, 0.25);
}
.ui-gallery a.ui-photo:not(.ui-gallery-preview-info):after {
  background-color: hsla(0, 0%, 100%, 0.25);
}
.ui-gallery a.ui-photo.ui-gallery-has-info:after,
.ui-gallery a.ui-photo.ui-gallery-has-info.ui-gallery-touch:after {
  background-color: hsla(0, 0%, 0%, 0.65);
}
.ui-gallery a.ui-photo.ui-gallery-has-info > span,
.ui-gallery a.ui-photo.ui-gallery-has-info.ui-gallery-touch > span {
  color: hsl(0, 0%, 100%);
  text-align: left;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.ui-desktop .ui-gallery a.ui-photo.ui-gallery-has-info:hover > span,
.ui-gallery a.ui-photo.ui-gallery-has-info.ui-gallery-touch > span {
  opacity: 1;
}
.ui-gallery a.ui-photo.ui-gallery-show-info:after,
.ui-gallery a.ui-photo.ui-gallery-show-info > span {
  opacity: 1;
}
.ui-desktop .ui-gallery a.ui-photo:hover:after,
.ui-gallery a.ui-photo.ui-gallery-touch:after {
  opacity: 1;
}
.ui-gallery-preview {
  width: 100%;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 91;
}
.ui-gallery-preview:not(.ui-open) {
  display: none;
}
.ui-gallery-preview:not(.ui-open-ease) {
  opacity: 0;
}
.ui-gallery-preview-opened {
  scroll-behavior: auto !important;
}
.ui-gallery-preview-opened > body {
  overflow: hidden;
}
.ui-gallery-preview-bg {
  background-color: hsla(0, 0%, 0%, 0.86);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ui-gallery-preview-prev,
.ui-gallery-preview-next {
  color: hsl(0, 0%, 100%);
  text-align: center;
  width: 68px;
  height: 68px;
  background-color: transparent;
  padding: 10px;
  display: none;
  border: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.ui-gallery-preview-prev .ui-icon,
.ui-gallery-preview-next .ui-icon {
  width: 40px;
  height: 40px;
  stroke-width: 14px;
}
.ui-desktop .ui-gallery-preview-prev:hover,
.ui-desktop .ui-gallery-preview-next:hover {
  background-color: hsla(0, 0%, 100%, 0.08);
}
.ui-gallery-preview-prev {
  left: 10px;
}
.ui-gallery-preview-next {
  right: 10px;
}
.ui-gallery-preview-loader {
  color: hsl(0, 0%, 100%);
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  animation: ui-gallery-preview-loader 1.15s linear infinite;
}
.ui-gallery-preview-loader.ui-pause {
  color: hsl(0, 82%, 52%);
  margin: 0;
  animation: none;
}
.ui-gallery-preview-info {
  color: hsl(0, 0%, 100%);
  min-height: 40px;
  max-height: 132px;
  background-color: hsla(0, 0%, 0%, 0.75);
  padding: 15px;
  display: block;
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}
.ui-gallery-preview-info .ui-set-absolute {
  position: static !important;
}
.ui-gallery-preview-info:not(.ui-open) {
  transform: translate(-50%, 100%);
}
.ui-gallery-preview > img {
  vertical-align: middle;
  display: inline-block;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px hsla(0, 0%, 0%, 0.75);
}
.ui-gallery-preview > img:not(.ui-gallery-preview-zoom) {
  cursor: zoom-in;
}
.ui-gallery-preview > img:not(.ui-open) {
  display: none;
}
.ui-gallery-preview > img:not(.ui-open-ease) {
  opacity: 0;
}
.ui-gallery-preview > .ui-gallery-preview-zoom {
  z-index: 5;
  cursor: grab;
}
.ui-gallery-preview > .ui-pause-ease {
  transition-duration: 0s;
}
.ui-gallery-preview-close {
  position: fixed;
  z-index: 10;
}
.ui-gallery-preview-close .ui-icon {
  color: hsl(0, 0%, 100%);
  opacity: 1 !important;
}
@media (min-width: 1400px) {
  .ui-gallery > li {
    width: 20%;
  }
  .ui-gallery.ui-gallery-has-cover > li:first-child {
    width: 40%;
  }
}
@media (min-width: 960px) {
  .ui-gallery-preview > img:not(.ui-photo-v):not(.ui-gallery-preview-zoom) {
    width: auto;
    height: 90%;
    max-width: 1400px;
  }
}
@media (min-width: 960px) and (max-width: 1399px) {
  .ui-gallery > li {
    width: 25%;
  }
  .ui-gallery.ui-gallery-has-cover > li:first-child {
    width: 50%;
  }
}
@media (max-width: 959px) {
  .ui-gallery > li {
    width: 33.333332%;
  }
  .ui-gallery-preview > img:not(.ui-photo-v):not(.ui-gallery-preview-zoom) {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .ui-gallery > li img {
    width: auto;
    height: 130%;
  }
  .ui-gallery > li a.ui-photo {
    height: 210px;
  }
  .ui-gallery.ui-gallery-has-cover > li:first-child a.ui-photo {
    height: 420px;
  }
  .ui-gallery a.ui-photo.ui-gallery-has-info > span,
  .ui-gallery a.ui-photo.ui-gallery-has-info.ui-gallery-touch > span {
    padding: 20px;
  }
  .ui-gallery-preview-info {
    width: 620px;
  }
  .ui-gallery-preview-close {
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 767px) {
  .ui-gallery > li {
    width: 50%;
  }
  .ui-gallery > li img {
    width: 130%;
    height: auto;
  }
  .ui-gallery a.ui-photo.ui-gallery-has-info > span,
  .ui-gallery a.ui-photo.ui-gallery-has-info.ui-gallery-touch > span {
    padding: 10px;
  }
  .ui-gallery-preview-info {
    width: 310px;
  }
  .ui-gallery-preview-close {
    top: 10px;
    right: 10px;
  }
}
@media (min-width: 621px) and (max-width: 959px) {
  .ui-gallery > li .ui-photo {
    height: 210px;
  }
}
@media (max-width: 620px) {
  .ui-gallery a.ui-photo.ui-gallery-preview-info > span,
  .ui-gallery a.ui-photo.ui-gallery-preview-info.ui-gallery-touch > span {
    font-size: 14px !important;
  }
  .ui-gallery > li .ui-photo {
    height: 168px;
  }
}
@media (min-width: 481px) {
  .ui-gallery-preview > img.ui-photo-v:not(.ui-gallery-preview-zoom) {
    width: auto;
    height: 90%;
  }
}
@media (max-width: 480px) {
  .ui-gallery > li a.ui-photo {
    height: 140px;
  }
  .ui-gallery-preview > img.ui-photo-v:not(.ui-gallery-preview-zoom) {
    width: auto;
    max-width: 100%;
  }
}
