/* grid */
.ui-container,
.ui-fixed {
  width: 100%;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
}
.ui-container:before,
.ui-fixed:before,
.ui-container:after,
.ui-fixed:after {
  content: "";
  display: table;
}
.ui-container:after,
.ui-fixed:after {
  clear: both;
}
.ui-fixed {
  margin-right: auto;
  margin-left: auto;
}
.ui-no-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
html .ui-row {
  display: flex;
}
.ui-ie .ui-row > [class*="ui-col-"]:not(.ui-col-static):not(.ui-col-12) {
  float: left;
}
.ui-row {
  margin-right: -10px;
  margin-left: -10px;
  flex-wrap: wrap;
}
.ui-row:before,
.ui-row:after {
  content: normal !important;
}
.ui-row > [class*="ui-col-"]:not(.ui-col-static) {
  padding: 10px;
}
.ui-row-align-l {
  justify-content: start;
}
.ui-row-align-c {
  justify-content: center;
}
.ui-row-align-r {
  justify-content: end;
}
.ui-row-gap-lg,
.ui-row-gap-lg-h {
  margin-right: -15px;
  margin-left: -15px;
}
.ui-row-gap-lg > [class*="ui-col-"]:not(.ui-col-static) {
  padding: 15px;
}
.ui-row-gap-lg-v > [class*="ui-col-"]:not(.ui-col-static) {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ui-row-gap-lg-h > [class*="ui-col-"]:not(.ui-col-static) {
  padding-right: 15px;
  padding-left: 15px;
}
.ui-row-gap-md,
.ui-row-gap-md-h {
  margin-right: -5px;
  margin-left: -5px;
}
.ui-row-gap-md > [class*="ui-col-"]:not(.ui-col-static) {
  padding: 5px;
}
.ui-row-gap-md-v > [class*="ui-col-"]:not(.ui-col-static) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ui-row-gap-md-h > [class*="ui-col-"]:not(.ui-col-static) {
  padding-right: 5px;
  padding-left: 5px;
}
.ui-row-gap-sm,
.ui-row-gap-sm-h {
  margin-right: -2px;
  margin-left: -2px;
}
.ui-row-gap-sm > [class*="ui-col-"]:not(.ui-col-static) {
  padding: 2px;
}
.ui-row-gap-sm-v > [class*="ui-col-"]:not(.ui-col-static) {
  padding-top: 2px;
  padding-bottom: 2px;
}
.ui-row-gap-sm-h > [class*="ui-col-"]:not(.ui-col-static) {
  padding-right: 2px;
  padding-left: 2px;
}
.ui-row-gap-xs,
.ui-row-gap-xs-h {
  margin-right: -1px;
  margin-left: -1px;
}
.ui-row-gap-xs > [class*="ui-col-"]:not(.ui-col-static) {
  padding: 1px;
}
.ui-row-gap-xs-v > [class*="ui-col-"]:not(.ui-col-static) {
  padding-top: 1px;
  padding-bottom: 1px;
}
.ui-row-gap-xs-h > [class*="ui-col-"]:not(.ui-col-static) {
  padding-right: 1px;
  padding-left: 1px;
}
.ui-no-row-gap,
.ui-no-row-gap-h {
  margin-right: inherit;
  margin-left: inherit;
}
.ui-no-row-gap > [class*="ui-col-"]:not(.ui-col-static) {
  padding: 0;
}
.ui-no-row-gap-v > [class*="ui-col-"]:not(.ui-col-static) {
  padding-top: 0;
  padding-bottom: 0;
}
.ui-no-row-gap-h > [class*="ui-col-"]:not(.ui-col-static) {
  padding-right: 0;
  padding-left: 0;
}
[class*="ui-col-"] {
  min-height: 1px;
}
[class*="ui-col-"]:before,
[class*="ui-col-"]:after {
  content: "" !important;
  display: table !important;
}
[class*="ui-col-"]:after {
  clear: both !important;
}
[class*="ui-push-"],
[class*="ui-pull-"] {
  position: relative;
}
.ui-col-1 {
  width: 8.33333333%;
}
.ui-offset-1 {
  margin-left: 8.33333333%;
}
.ui-push-1 {
  left: 8.33333333%;
}
.ui-pull-1 {
  right: 8.33333333%;
}
.ui-col-2 {
  width: 16.66666667%;
}
.ui-offset-2 {
  margin-left: 16.66666667%;
}
.ui-push-2 {
  left: 16.66666667%;
}
.ui-pull-2 {
  right: 16.66666667%;
}
.ui-col-3 {
  width: 25%;
}
.ui-offset-3 {
  margin-left: 25%;
}
.ui-push-3 {
  left: 25%;
}
.ui-pull-3 {
  right: 25%;
}
.ui-col-4 {
  width: 33.33333333%;
}
.ui-offset-4 {
  margin-left: 33.33333333%;
}
.ui-push-4 {
  left: 33.33333333%;
}
.ui-pull-4 {
  right: 33.33333333%;
}
.ui-col-5 {
  width: 41.66666667%;
}
.ui-offset-5 {
  margin-left: 41.66666667%;
}
.ui-push-5 {
  left: 41.66666667%;
}
.ui-pull-5 {
  right: 41.66666667%;
}
.ui-col-6 {
  width: 50%;
}
.ui-offset-6 {
  margin-left: 50%;
}
.ui-push-6 {
  left: 50%;
}
.ui-pull-6 {
  right: 50%;
}
.ui-col-7 {
  width: 58.33333333%;
}
.ui-offset-7 {
  margin-left: 58.33333333%;
}
.ui-push-7 {
  left: 58.33333333%;
}
.ui-pull-7 {
  right: 58.33333333%;
}
.ui-col-8 {
  width: 66.66666667%;
}
.ui-offset-8 {
  margin-left: 66.66666667%;
}
.ui-push-8 {
  left: 66.66666667%;
}
.ui-pull-8 {
  right: 66.66666667%;
}
.ui-col-9 {
  width: 75%;
}
.ui-offset-9 {
  margin-left: 75%;
}
.ui-push-9 {
  left: 75%;
}
.ui-pull-9 {
  right: 75%;
}
.ui-col-10 {
  width: 83.33333333%;
}
.ui-offset-10 {
  margin-left: 83.33333333%;
}
.ui-push-10 {
  left: 83.33333333%;
}
.ui-pull-10 {
  right: 83.33333333%;
}
.ui-col-11 {
  width: 91.66666667%;
}
.ui-offset-11 {
  margin-left: 91.66666667%;
}
.ui-push-11 {
  left: 91.66666667%;
}
.ui-pull-11 {
  right: 91.66666667%;
}
.ui-col-12 {
  width: 100%;
}
.ui-offset-12 {
  margin-left: 100%;
}
.ui-push-12 {
  left: 100%;
}
.ui-pull-12 {
  right: 100%;
}
.ui-col-5x {
  width: 20%;
}
.ui-col-7x {
  width: 14.28571429%;
}
.ui-col-8x {
  width: 12.5%;
}
.ui-col-9x {
  width: 11.11111111%;
}
.ui-col-static {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.ui-col-static > .ui-row,
.ui-col-static > [class*="ui-col-"] {
  vertical-align: top;
  display: table-cell;
}
.ui-col-static > .ui-row {
  width: 100%;
  margin-left: unset;
  margin-right: unset;
  table-layout: fixed;
}
.ui-col-static > .ui-row:before,
.ui-col-static > .ui-row:after {
  content: "" !important;
  display: table !important;
}
.ui-col-static > .ui-row:after {
  clear: both !important;
}
.ui-col-static > .ui-row > [class*="ui-col-"]:not(.ui-col-static):not(.ui-col-12) {
  float: left;
}
.ui-col-50 {
  width: 50px;
}
.ui-col-100 {
  width: 100px;
}
.ui-col-150 {
  width: 150px;
}
.ui-col-200 {
  width: 200px;
}
.ui-col-250 {
  width: 250px;
}
.ui-col-300 {
  width: 300px;
}
.ui-col-350 {
  width: 350px;
}
.ui-col-400 {
  width: 400px;
}
.ui-col-450 {
  width: 450px;
}
.ui-col-500 {
  width: 500px;
}
.ui-col-42 {
  width: 42px;
}
.ui-col-48 {
  width: 48px;
}
@media (min-width: 1400px) {
  .ui-fixed {
    max-width: 1400px;
  }
  .ui-fixed-xl {
    max-width: 1680px;
  }
  .ui-no-gutter-lg {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .ui-offset-lg-0 {
    margin-left: 0;
  }
  .ui-col-lg-1 {
    width: 8.33333333%;
  }
  .ui-offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .ui-push-lg-1 {
    left: 8.33333333%;
  }
  .ui-pull-lg-1 {
    right: 8.33333333%;
  }
  .ui-col-lg-2 {
    width: 16.66666667%;
  }
  .ui-offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .ui-push-lg-2 {
    left: 16.66666667%;
  }
  .ui-pull-lg-2 {
    right: 16.66666667%;
  }
  .ui-col-lg-3 {
    width: 25%;
  }
  .ui-offset-lg-3 {
    margin-left: 25%;
  }
  .ui-push-lg-3 {
    left: 25%;
  }
  .ui-pull-lg-3 {
    right: 25%;
  }
  .ui-col-lg-4 {
    width: 33.33333333%;
  }
  .ui-offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .ui-push-lg-4 {
    left: 33.33333333%;
  }
  .ui-pull-lg-4 {
    right: 33.33333333%;
  }
  .ui-col-lg-5 {
    width: 41.66666667%;
  }
  .ui-offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .ui-push-lg-5 {
    left: 41.66666667%;
  }
  .ui-pull-lg-5 {
    right: 41.66666667%;
  }
  .ui-col-lg-6 {
    width: 50%;
  }
  .ui-offset-lg-6 {
    margin-left: 50%;
  }
  .ui-push-lg-6 {
    left: 50%;
  }
  .ui-pull-lg-6 {
    right: 50%;
  }
  .ui-col-lg-7 {
    width: 58.33333333%;
  }
  .ui-offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .ui-push-lg-7 {
    left: 58.33333333%;
  }
  .ui-pull-lg-7 {
    right: 58.33333333%;
  }
  .ui-col-lg-8 {
    width: 66.66666667%;
  }
  .ui-offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .ui-push-lg-8 {
    left: 66.66666667%;
  }
  .ui-pull-lg-8 {
    right: 66.66666667%;
  }
  .ui-col-lg-9 {
    width: 75%;
  }
  .ui-offset-lg-9 {
    margin-left: 75%;
  }
  .ui-push-lg-9 {
    left: 75%;
  }
  .ui-pull-lg-9 {
    right: 75%;
  }
  .ui-col-lg-10 {
    width: 83.33333333%;
  }
  .ui-offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .ui-push-lg-10 {
    left: 83.33333333%;
  }
  .ui-pull-lg-10 {
    right: 83.33333333%;
  }
  .ui-col-lg-11 {
    width: 91.66666667%;
  }
  .ui-offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .ui-push-lg-11 {
    left: 91.66666667%;
  }
  .ui-pull-lg-11 {
    right: 91.66666667%;
  }
  .ui-col-lg-12 {
    width: 100%;
  }
  .ui-offset-lg-12 {
    margin-left: 100%;
  }
  .ui-push-lg-12 {
    left: 100%;
  }
  .ui-pull-lg-12 {
    right: 100%;
  }
  .ui-col-lg-5x {
    width: 20%;
  }
  .ui-col-lg-7x {
    width: 14.28571429%;
  }
  .ui-col-lg-8x {
    width: 12.5%;
  }
  .ui-col-lg-9x {
    width: 11.11111111%;
  }
  .ui-col-lg-50 {
    width: 50px;
  }
  .ui-col-lg-100 {
    width: 100px;
  }
  .ui-col-lg-150 {
    width: 150px;
  }
  .ui-col-lg-200 {
    width: 200px;
  }
  .ui-col-lg-250 {
    width: 250px;
  }
  .ui-col-lg-300 {
    width: 300px;
  }
  .ui-col-lg-350 {
    width: 350px;
  }
  .ui-col-lg-400 {
    width: 400px;
  }
  .ui-col-lg-450 {
    width: 450px;
  }
  .ui-col-lg-500 {
    width: 500px;
  }
  .ui-col-lg-42 {
    width: 42px;
  }
  .ui-col-lg-48 {
    width: 48px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .ui-no-gutter-md {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .ui-offset-md-0 {
    margin-left: 0;
  }
  .ui-col-md-1 {
    width: 8.33333333%;
  }
  .ui-offset-md-1 {
    margin-left: 8.33333333%;
  }
  .ui-push-md-1 {
    left: 8.33333333%;
  }
  .ui-pull-md-1 {
    right: 8.33333333%;
  }
  .ui-col-md-2 {
    width: 16.66666667%;
  }
  .ui-offset-md-2 {
    margin-left: 16.66666667%;
  }
  .ui-push-md-2 {
    left: 16.66666667%;
  }
  .ui-pull-md-2 {
    right: 16.66666667%;
  }
  .ui-col-md-3 {
    width: 25%;
  }
  .ui-offset-md-3 {
    margin-left: 25%;
  }
  .ui-push-md-3 {
    left: 25%;
  }
  .ui-pull-md-3 {
    right: 25%;
  }
  .ui-col-md-4 {
    width: 33.33333333%;
  }
  .ui-offset-md-4 {
    margin-left: 33.33333333%;
  }
  .ui-push-md-4 {
    left: 33.33333333%;
  }
  .ui-pull-md-4 {
    right: 33.33333333%;
  }
  .ui-col-md-5 {
    width: 41.66666667%;
  }
  .ui-offset-md-5 {
    margin-left: 41.66666667%;
  }
  .ui-push-md-5 {
    left: 41.66666667%;
  }
  .ui-pull-md-5 {
    right: 41.66666667%;
  }
  .ui-col-md-6 {
    width: 50%;
  }
  .ui-offset-md-6 {
    margin-left: 50%;
  }
  .ui-push-md-6 {
    left: 50%;
  }
  .ui-pull-md-6 {
    right: 50%;
  }
  .ui-col-md-7 {
    width: 58.33333333%;
  }
  .ui-offset-md-7 {
    margin-left: 58.33333333%;
  }
  .ui-push-md-7 {
    left: 58.33333333%;
  }
  .ui-pull-md-7 {
    right: 58.33333333%;
  }
  .ui-col-md-8 {
    width: 66.66666667%;
  }
  .ui-offset-md-8 {
    margin-left: 66.66666667%;
  }
  .ui-push-md-8 {
    left: 66.66666667%;
  }
  .ui-pull-md-8 {
    right: 66.66666667%;
  }
  .ui-col-md-9 {
    width: 75%;
  }
  .ui-offset-md-9 {
    margin-left: 75%;
  }
  .ui-push-md-9 {
    left: 75%;
  }
  .ui-pull-md-9 {
    right: 75%;
  }
  .ui-col-md-10 {
    width: 83.33333333%;
  }
  .ui-offset-md-10 {
    margin-left: 83.33333333%;
  }
  .ui-push-md-10 {
    left: 83.33333333%;
  }
  .ui-pull-md-10 {
    right: 83.33333333%;
  }
  .ui-col-md-11 {
    width: 91.66666667%;
  }
  .ui-offset-md-11 {
    margin-left: 91.66666667%;
  }
  .ui-push-md-11 {
    left: 91.66666667%;
  }
  .ui-pull-md-11 {
    right: 91.66666667%;
  }
  .ui-col-md-12 {
    width: 100%;
  }
  .ui-offset-md-12 {
    margin-left: 100%;
  }
  .ui-push-md-12 {
    left: 100%;
  }
  .ui-pull-md-12 {
    right: 100%;
  }
  .ui-col-md-5x {
    width: 20%;
  }
  .ui-col-md-7x {
    width: 14.28571429%;
  }
  .ui-col-md-8x {
    width: 12.5%;
  }
  .ui-col-md-9x {
    width: 11.11111111%;
  }
  .ui-col-md-50 {
    width: 50px;
  }
  .ui-col-md-100 {
    width: 100px;
  }
  .ui-col-md-150 {
    width: 150px;
  }
  .ui-col-md-200 {
    width: 200px;
  }
  .ui-col-md-250 {
    width: 250px;
  }
  .ui-col-md-300 {
    width: 300px;
  }
  .ui-col-md-350 {
    width: 350px;
  }
  .ui-col-md-400 {
    width: 400px;
  }
  .ui-col-md-450 {
    width: 450px;
  }
  .ui-col-md-500 {
    width: 500px;
  }
  .ui-col-md-42 {
    width: 42px;
  }
  .ui-col-md-48 {
    width: 48px;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) > [class*="ui-col-"]:not([class*="ui-col-md-"]):not([class*="ui-col-sm-"]):not([class*="ui-col-xs-"]):not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) {
    width: 100%;
    clear: both;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) > [class*="ui-offset-"]:not([class*="ui-offset-md-"]):not([class*="ui-offset-sm-"]):not([class*="ui-offset-xs-"]):not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) {
    margin-left: 0;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) > [class*="ui-push-"]:not([class*="ui-push-md-"]):not([class*="ui-push-sm-"]):not([class*="ui-push-xs-"]):not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) {
    left: 0;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) > [class*="ui-pull-"]:not([class*="ui-pull-md-"]):not([class*="ui-pull-sm-"]):not([class*="ui-pull-xs-"]):not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) {
    right: 0;
  }
  .ui-col-static:not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) > .ui-row,
  .ui-col-static:not(.ui-no-fluid):not(.ui-sm-fluid):not(.ui-xs-fluid) > [class*="ui-col-"] {
    width: 100%;
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .ui-no-gutter-md,
  .ui-no-gutter-sm {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .ui-offset-sm-0 {
    margin-left: 0;
  }
  .ui-col-sm-1 {
    width: 8.33333333%;
  }
  .ui-offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .ui-push-sm-1 {
    left: 8.33333333%;
  }
  .ui-pull-sm-1 {
    right: 8.33333333%;
  }
  .ui-col-sm-2 {
    width: 16.66666667%;
  }
  .ui-offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .ui-push-sm-2 {
    left: 16.66666667%;
  }
  .ui-pull-sm-2 {
    right: 16.66666667%;
  }
  .ui-col-sm-3 {
    width: 25%;
  }
  .ui-offset-sm-3 {
    margin-left: 25%;
  }
  .ui-push-sm-3 {
    left: 25%;
  }
  .ui-pull-sm-3 {
    right: 25%;
  }
  .ui-col-sm-4 {
    width: 33.33333333%;
  }
  .ui-offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .ui-push-sm-4 {
    left: 33.33333333%;
  }
  .ui-pull-sm-4 {
    right: 33.33333333%;
  }
  .ui-col-sm-5 {
    width: 41.66666667%;
  }
  .ui-offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .ui-push-sm-5 {
    left: 41.66666667%;
  }
  .ui-pull-sm-5 {
    right: 41.66666667%;
  }
  .ui-col-sm-6 {
    width: 50%;
  }
  .ui-offset-sm-6 {
    margin-left: 50%;
  }
  .ui-push-sm-6 {
    left: 50%;
  }
  .ui-pull-sm-6 {
    right: 50%;
  }
  .ui-col-sm-7 {
    width: 58.33333333%;
  }
  .ui-offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .ui-push-sm-7 {
    left: 58.33333333%;
  }
  .ui-pull-sm-7 {
    right: 58.33333333%;
  }
  .ui-col-sm-8 {
    width: 66.66666667%;
  }
  .ui-offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .ui-push-sm-8 {
    left: 66.66666667%;
  }
  .ui-pull-sm-8 {
    right: 66.66666667%;
  }
  .ui-col-sm-9 {
    width: 75%;
  }
  .ui-offset-sm-9 {
    margin-left: 75%;
  }
  .ui-push-sm-9 {
    left: 75%;
  }
  .ui-pull-sm-9 {
    right: 75%;
  }
  .ui-col-sm-10 {
    width: 83.33333333%;
  }
  .ui-offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .ui-push-sm-10 {
    left: 83.33333333%;
  }
  .ui-pull-sm-10 {
    right: 83.33333333%;
  }
  .ui-col-sm-11 {
    width: 91.66666667%;
  }
  .ui-offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .ui-push-sm-11 {
    left: 91.66666667%;
  }
  .ui-pull-sm-11 {
    right: 91.66666667%;
  }
  .ui-col-sm-12 {
    width: 100%;
  }
  .ui-offset-sm-12 {
    margin-left: 100%;
  }
  .ui-push-sm-12 {
    left: 100%;
  }
  .ui-pull-sm-12 {
    right: 100%;
  }
  .ui-col-sm-5x {
    width: 20%;
  }
  .ui-col-sm-7x {
    width: 14.28571429%;
  }
  .ui-col-sm-8x {
    width: 12.5%;
  }
  .ui-col-sm-9x {
    width: 11.11111111%;
  }
  .ui-col-sm-50 {
    width: 50px;
  }
  .ui-col-sm-100 {
    width: 100px;
  }
  .ui-col-sm-150 {
    width: 150px;
  }
  .ui-col-sm-200 {
    width: 200px;
  }
  .ui-col-sm-250 {
    width: 250px;
  }
  .ui-col-sm-300 {
    width: 300px;
  }
  .ui-col-sm-350 {
    width: 350px;
  }
  .ui-col-sm-400 {
    width: 400px;
  }
  .ui-col-sm-450 {
    width: 450px;
  }
  .ui-col-sm-500 {
    width: 500px;
  }
  .ui-col-sm-42 {
    width: 42px;
  }
  .ui-col-sm-48 {
    width: 48px;
  }
  .ui-row.ui-sm-fluid > [class*="ui-col-"] {
    width: 100%;
    clear: both;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-xs-fluid) > [class*="ui-col-"]:not([class*="ui-col-sm-"]):not([class*="ui-col-xs-"]):not(.ui-no-fluid):not(.ui-xs-fluid) {
    width: 100%;
    clear: both;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-xs-fluid) > [class*="ui-offset-"]:not([class*="ui-offset-sm-"]):not([class*="ui-offset-xs-"]):not(.ui-no-fluid):not(.ui-xs-fluid) {
    margin-left: 0;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-xs-fluid) > [class*="ui-push-"]:not([class*="ui-push-sm-"]):not([class*="ui-push-xs-"]):not(.ui-no-fluid):not(.ui-xs-fluid) {
    left: 0;
  }
  .ui-row:not(.ui-no-fluid):not(.ui-xs-fluid) > [class*="ui-pull-"]:not([class*="ui-pull-sm-"]):not([class*="ui-pull-xs-"]):not(.ui-no-fluid):not(.ui-xs-fluid) {
    right: 0;
  }
  .ui-col-static:not(.ui-no-fluid):not(.ui-xs-fluid) > .ui-row,
  .ui-col-static:not(.ui-no-fluid):not(.ui-xs-fluid) > [class*="ui-col-"] {
    width: 100%;
    display: block;
  }
}
@media (max-width: 480px) {
  .ui-no-gutter-md,
  .ui-no-gutter-sm,
  .ui-no-gutter-xs {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .ui-container {
    min-width: 320px;
  }
  .ui-offset-xs-0 {
    margin-left: 0;
  }
  .ui-col-xs-1 {
    width: 8.33333333%;
  }
  .ui-offset-xs-1 {
    margin-left: 8.33333333%;
  }
  .ui-push-xs-1 {
    left: 8.33333333%;
  }
  .ui-pull-xs-1 {
    right: 8.33333333%;
  }
  .ui-col-xs-2 {
    width: 16.66666667%;
  }
  .ui-offset-xs-2 {
    margin-left: 16.66666667%;
  }
  .ui-push-xs-2 {
    left: 16.66666667%;
  }
  .ui-pull-xs-2 {
    right: 16.66666667%;
  }
  .ui-col-xs-3 {
    width: 25%;
  }
  .ui-offset-xs-3 {
    margin-left: 25%;
  }
  .ui-push-xs-3 {
    left: 25%;
  }
  .ui-pull-xs-3 {
    right: 25%;
  }
  .ui-col-xs-4 {
    width: 33.33333333%;
  }
  .ui-offset-xs-4 {
    margin-left: 33.33333333%;
  }
  .ui-push-xs-4 {
    left: 33.33333333%;
  }
  .ui-pull-xs-4 {
    right: 33.33333333%;
  }
  .ui-col-xs-5 {
    width: 41.66666667%;
  }
  .ui-offset-xs-5 {
    margin-left: 41.66666667%;
  }
  .ui-push-xs-5 {
    left: 41.66666667%;
  }
  .ui-pull-xs-5 {
    right: 41.66666667%;
  }
  .ui-col-xs-6 {
    width: 50%;
  }
  .ui-offset-xs-6 {
    margin-left: 50%;
  }
  .ui-push-xs-6 {
    left: 50%;
  }
  .ui-pull-xs-6 {
    right: 50%;
  }
  .ui-col-xs-7 {
    width: 58.33333333%;
  }
  .ui-offset-xs-7 {
    margin-left: 58.33333333%;
  }
  .ui-push-xs-7 {
    left: 58.33333333%;
  }
  .ui-pull-xs-7 {
    right: 58.33333333%;
  }
  .ui-col-xs-8 {
    width: 66.66666667%;
  }
  .ui-offset-xs-8 {
    margin-left: 66.66666667%;
  }
  .ui-push-xs-8 {
    left: 66.66666667%;
  }
  .ui-pull-xs-8 {
    right: 66.66666667%;
  }
  .ui-col-xs-9 {
    width: 75%;
  }
  .ui-offset-xs-9 {
    margin-left: 75%;
  }
  .ui-push-xs-9 {
    left: 75%;
  }
  .ui-pull-xs-9 {
    right: 75%;
  }
  .ui-col-xs-10 {
    width: 83.33333333%;
  }
  .ui-offset-xs-10 {
    margin-left: 83.33333333%;
  }
  .ui-push-xs-10 {
    left: 83.33333333%;
  }
  .ui-pull-xs-10 {
    right: 83.33333333%;
  }
  .ui-col-xs-11 {
    width: 91.66666667%;
  }
  .ui-offset-xs-11 {
    margin-left: 91.66666667%;
  }
  .ui-push-xs-11 {
    left: 91.66666667%;
  }
  .ui-pull-xs-11 {
    right: 91.66666667%;
  }
  .ui-col-xs-12 {
    width: 100%;
  }
  .ui-offset-xs-12 {
    margin-left: 100%;
  }
  .ui-push-xs-12 {
    left: 100%;
  }
  .ui-pull-xs-12 {
    right: 100%;
  }
  .ui-col-xs-5x {
    width: 20%;
  }
  .ui-col-xs-7x {
    width: 14.28571429%;
  }
  .ui-col-xs-8x {
    width: 12.5%;
  }
  .ui-col-xs-9x {
    width: 11.11111111%;
  }
  .ui-col-xs-50 {
    width: 50px;
  }
  .ui-col-xs-100 {
    width: 100px;
  }
  .ui-col-xs-150 {
    width: 150px;
  }
  .ui-col-xs-200 {
    width: 200px;
  }
  .ui-col-xs-250 {
    width: 250px;
  }
  .ui-col-xs-300 {
    width: 300px;
  }
  .ui-col-xs-350 {
    width: 350px;
  }
  .ui-col-xs-400 {
    width: 400px;
  }
  .ui-col-xs-450 {
    width: 450px;
  }
  .ui-col-xs-500 {
    width: 500px;
  }
  .ui-col-xs-42 {
    width: 42px;
  }
  .ui-col-xs-48 {
    width: 48px;
  }
  .ui-row.ui-xs-fluid > [class*="ui-col-"] {
    width: 100%;
    clear: both;
  }
  .ui-row:not(.ui-no-fluid) > [class*="ui-col-"]:not([class*="ui-col-xs-"]):not(.ui-no-fluid) {
    width: 100%;
    clear: both;
  }
  .ui-row:not(.ui-no-fluid) > [class*="ui-offset-"]:not([class*="ui-offset-xs-"]):not(.ui-no-fluid) {
    margin-left: 0;
  }
  .ui-row:not(.ui-no-fluid) > [class*="ui-push-"]:not([class*="ui-push-xs-"]):not(.ui-no-fluid) {
    left: 0;
  }
  .ui-row:not(.ui-no-fluid) > [class*="ui-pull-"]:not([class*="ui-pull-xs-"]):not(.ui-no-fluid) {
    right: 0;
  }
  .ui-col-static:not(.ui-no-fluid) > .ui-row,
  .ui-col-static:not(.ui-no-fluid) > [class*="ui-col-"] {
    width: 100%;
    display: block;
  }
}
@media (max-width: 1399px) {
  .ui-lg-fluid.ui-row > [class*="ui-col-"],
  [class*="ui-col-"].ui-lg-fluid {
    width: 100%;
    clear: both;
  }
  .ui-lg-fluid.ui-col-static > .ui-row,
  .ui-lg-fluid.ui-col-static > [class*="ui-col-"] {
    width: 100%;
    display: block;
  }
  [class*="ui-offset-"].ui-lg-fluid {
    margin-left: 0;
  }
  [class*="ui-push-"].ui-lg-fluid {
    left: 0;
  }
  [class*="ui-pull-"].ui-lg-fluid {
    right: 0;
  }
}
@media (max-width: 1679px) {
  .ui-xl-fluid.ui-row > [class*="ui-col-"],
  [class*="ui-col-"].ui-xl-fluid {
    width: 100%;
    clear: both;
  }
  .ui-xl-fluid.ui-col-static > .ui-row,
  .ui-xl-fluid.ui-col-static > [class*="ui-col-"] {
    width: 100%;
    display: block;
  }
  [class*="ui-offset-"].ui-xl-fluid {
    margin-left: 0;
  }
  [class*="ui-push-"].ui-xl-fluid {
    left: 0;
  }
  [class*="ui-pull-"].ui-xl-fluid {
    right: 0;
  }
}
@media (min-width: 1680px) {
  .ui-no-gutter-xl {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .ui-offset-xl-0 {
    margin-left: 0;
  }
  .ui-col-xl-1 {
    width: 8.33333333%;
  }
  .ui-offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .ui-push-xl-1 {
    left: 8.33333333%;
  }
  .ui-pull-xl-1 {
    right: 8.33333333%;
  }
  .ui-col-xl-2 {
    width: 16.66666667%;
  }
  .ui-offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .ui-push-xl-2 {
    left: 16.66666667%;
  }
  .ui-pull-xl-2 {
    right: 16.66666667%;
  }
  .ui-col-xl-3 {
    width: 25%;
  }
  .ui-offset-xl-3 {
    margin-left: 25%;
  }
  .ui-push-xl-3 {
    left: 25%;
  }
  .ui-pull-xl-3 {
    right: 25%;
  }
  .ui-col-xl-4 {
    width: 33.33333333%;
  }
  .ui-offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .ui-push-xl-4 {
    left: 33.33333333%;
  }
  .ui-pull-xl-4 {
    right: 33.33333333%;
  }
  .ui-col-xl-5 {
    width: 41.66666667%;
  }
  .ui-offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .ui-push-xl-5 {
    left: 41.66666667%;
  }
  .ui-pull-xl-5 {
    right: 41.66666667%;
  }
  .ui-col-xl-6 {
    width: 50%;
  }
  .ui-offset-xl-6 {
    margin-left: 50%;
  }
  .ui-push-xl-6 {
    left: 50%;
  }
  .ui-pull-xl-6 {
    right: 50%;
  }
  .ui-col-xl-7 {
    width: 58.33333333%;
  }
  .ui-offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .ui-push-xl-7 {
    left: 58.33333333%;
  }
  .ui-pull-xl-7 {
    right: 58.33333333%;
  }
  .ui-col-xl-8 {
    width: 66.66666667%;
  }
  .ui-offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .ui-push-xl-8 {
    left: 66.66666667%;
  }
  .ui-pull-xl-8 {
    right: 66.66666667%;
  }
  .ui-col-xl-9 {
    width: 75%;
  }
  .ui-offset-xl-9 {
    margin-left: 75%;
  }
  .ui-push-xl-9 {
    left: 75%;
  }
  .ui-pull-xl-9 {
    right: 75%;
  }
  .ui-col-xl-10 {
    width: 83.33333333%;
  }
  .ui-offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .ui-push-xl-10 {
    left: 83.33333333%;
  }
  .ui-pull-xl-10 {
    right: 83.33333333%;
  }
  .ui-col-xl-11 {
    width: 91.66666667%;
  }
  .ui-offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .ui-push-xl-11 {
    left: 91.66666667%;
  }
  .ui-pull-xl-11 {
    right: 91.66666667%;
  }
  .ui-col-xl-12 {
    width: 100%;
  }
  .ui-offset-xl-12 {
    margin-left: 100%;
  }
  .ui-push-xl-12 {
    left: 100%;
  }
  .ui-pull-xl-12 {
    right: 100%;
  }
  .ui-col-xl-5x {
    width: 20%;
  }
  .ui-col-xl-7x {
    width: 14.28571429%;
  }
  .ui-col-xl-8x {
    width: 12.5%;
  }
  .ui-col-xl-9x {
    width: 11.11111111%;
  }
  .ui-col-xl-50 {
    width: 50px;
  }
  .ui-col-xl-100 {
    width: 100px;
  }
  .ui-col-xl-150 {
    width: 150px;
  }
  .ui-col-xl-200 {
    width: 200px;
  }
  .ui-col-xl-250 {
    width: 250px;
  }
  .ui-col-xl-300 {
    width: 300px;
  }
  .ui-col-xl-350 {
    width: 350px;
  }
  .ui-col-xl-400 {
    width: 400px;
  }
  .ui-col-xl-450 {
    width: 450px;
  }
  .ui-col-xl-500 {
    width: 500px;
  }
  .ui-col-xl-42 {
    width: 42px;
  }
  .ui-col-xl-48 {
    width: 48px;
  }
}
