/* imgupload */
[data-ui-mode="light"] {
  --ui-imgupload-drop-bg: hsl(0, 0%, 93%);
  --ui-imgupload-list-bg: hsla(0, 0%, 100%, 0.45);
  --ui-imgupload-list-border: hsla(0, 0%, 0%, 0.15);
  --ui-imgupload-list-tag-color: hsla(0, 0%, 0%, 0.5);
  --ui-imgupload-list-tag-bg: hsla(0, 0%, 0%, 0.08);
}
[data-ui-mode="dark"] {
  --ui-imgupload-drop-bg: hsl(222, 13%, 15%);
  --ui-imgupload-list-bg: hsla(0, 0%, 100%, 0.035);
  --ui-imgupload-list-border: hsla(0, 0%, 100%, 0.15);
  --ui-imgupload-list-tag-color: hsl(0, 0%, 73%);
  --ui-imgupload-list-tag-bg: hsla(0, 0%, 100%, 0.08);
}
@keyframes ui-imgupload-loader {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.ui-ease-imgupload {
  transition-property: background-color;
  transition-duration: 0.15s;
}
.ui-ease-imgupload .ui-imgupload-list {
  transition-property: margin;
  transition-duration: 0.15s;
}
.ui-ease-imgupload .ui-imgupload-list > .ui-icon {
  transition-property: opacity;
  transition-duration: 0.15s;
}
.ui-ease-imgupload .ui-imgupload-list li {
  transition-property: opacity;
  transition-duration: 0.3s;
}
.ui-imgupload {
  background-color: var(--ui-card-bg);
  overflow: hidden;
  position: relative;
}
.ui-imgupload.ui-imgupload-loading .ui-file .ui-btn,
.ui-imgupload.ui-imgupload-uploading .ui-file .ui-btn,
.ui-imgupload.ui-imgupload-loading [type="submit"],
.ui-imgupload.ui-imgupload-uploading [type="submit"] {
  background-image: linear-gradient(45deg, transparent 25%, hsla(0, 0%, 100%, 0.25) 25%, hsla(0, 0%, 100%, 0.25) 50%, transparent 50%, transparent 75%, hsla(0, 0%, 100%, 0.25) 75%);
  background-size: 20px 20px;
  animation: ui-imgupload-loader 1s linear infinite;
}
.ui-imgupload-drop {
  background-color: var(--ui-imgupload-drop-bg);
}
.ui-imgupload-drop .ui-imgupload-list {
  background-color: var(--ui-imgupload-list-bg);
  margin: 30px;
  border: dashed 2px var(--ui-imgupload-list-border);
  border-radius: 10px;
}
.ui-imgupload-drop .ui-imgupload-list > .ui-icon {
  display: block;
}
.ui-imgupload-drop .ui-imgupload-list li {
  opacity: 0.15;
}
.ui-imgupload-list {
  min-height: 220px;
  position: relative;
}
.ui-imgupload-list > .ui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.ui-imgupload-list.ui-open > .ui-icon {
  display: none;
}
.ui-imgupload-list ul {
  list-style: none;
  padding: 15px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.ui-imgupload-list ul li {
  box-sizing: border-box;
  padding: 15px;
}
.ui-imgupload-list ul li.ui-open-ease {
  opacity: 0;
}
.ui-imgupload-list ul li .ui-imgupload-src {
  display: block;
  clear: both;
  position: relative;
}
.ui-imgupload-list ul li .ui-imgupload-src:not(:first-child) {
  margin-top: 15px;
}
.ui-imgupload-list ul li .ui-imgupload-src:not(:last-child) {
  margin-bottom: 15px;
}
.ui-imgupload-list ul li .ui-imgupload-src img {
  vertical-align: middle;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: inline-block;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 6px hsla(0, 0%, 0%, 0.25);
  transform: translate(-50%, -50%);
}
.ui-imgupload-list ul li .ui-imgupload-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 22px;
  min-height: 22px;
  overflow: hidden;
  display: block;
}
.ui-imgupload-list ul li .ui-imgupload-info,
.ui-imgupload-list ul li .ui-imgupload-tag {
  vertical-align: middle;
  display: inline-block;
}
.ui-imgupload-list ul li .ui-imgupload-info {
  color: hsl(0, 0%, 49%);
  padding: 1px 6px 1px 0;
}
.ui-imgupload-list ul li .ui-imgupload-tag {
  color: var(--ui-imgupload-list-tag-color);
  font-size: 13px;
  white-space: nowrap;
  padding: 1px 6px;
  background-color: var(--ui-imgupload-list-tag-bg);
  border-radius: 20px;
}
.ui-imgupload-list:not(.ui-open) {
  background-color: var(--ui-imgupload-list-bg);
  margin: 30px;
  border: dashed 2px var(--ui-imgupload-list-border);
  border-radius: 10px;
}
.ui-imgupload-list:not(.ui-open) li {
  display: none;
}
@media (min-width: 960px) {
  .ui-imgupload-list li {
    width: 20%;
  }
}
@media (max-width: 959px) {
  .ui-imgupload-list li {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .ui-imgupload-list li {
    width: 33.333332%;
  }
}
@media (min-width: 481px) {
  .ui-imgupload-list li .ui-imgupload-src {
    min-height: 164px;
  }
}
@media (max-width: 480px) {
  .ui-imgupload-list li .ui-imgupload-src {
    min-height: 98px;
  }
}
@media (max-width: 380px) {
  .ui-imgupload-list li {
    width: 50%;
  }
}
