/* listgroup */
[data-ui-mode="light"] {
  --ui-listgroup-stripe-bg: hsla(0, 0%, 0%, 0.035);
  --ui-listgroup-hover-bg: hsla(0, 0%, 0%, 0.06);
}
[data-ui-mode="dark"] {
  --ui-listgroup-stripe-bg: hsla(0, 0%, 100%, 0.035);
  --ui-listgroup-hover-bg: hsla(0, 0%, 100%, 0.06);
}
.ui-ease-listgroup li,
.ui-ease-listgroup li > a:not(.ui-listgroup-url) {
  transition-property: background-color;
  transition-duration: 0.15s;
}
.ui-ease-listgroup .ui-listgroup-icon:not([class*="ui-ease-"]) {
  transition-property: opacity;
  transition-duration: 0.15s;
}
.ui-listgroup,
.ui-listgroup > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ui-listgroup > ul > li {
  position: relative;
}
.ui-listgroup > ul > li,
.ui-listgroup > ul > li > a:not(.ui-listgroup-url) {
  box-sizing: border-box;
  line-height: normal;
  padding: 10px;
}
.ui-listgroup > ul > li:before,
.ui-listgroup > ul > li:after,
.ui-listgroup > ul > li > a:not(.ui-listgroup-url):before,
.ui-listgroup > ul > li > a:not(.ui-listgroup-url):after {
  content: "";
  display: table;
}
.ui-listgroup > ul > li:after,
.ui-listgroup > ul > li > a:not(.ui-listgroup-url):after {
  clear: both;
}
.ui-listgroup > ul > li > a:not(.ui-btn) {
  color: var(--ui-black);
  word-wrap: break-word;
  text-decoration: none;
}
.ui-listgroup > ul > li > a:not(.ui-listgroup-url) {
  margin: -10px;
  display: block;
}
.ui-desktop .ui-listgroup > ul > li > a:not(.ui-listgroup-url):hover .ui-listgroup-icon {
  opacity: 0.75;
}
.ui-listgroup li:nth-child(odd):not([class*="ui-fill-"]) {
  background-color: var(--ui-listgroup-stripe-bg);
}
.ui-listgroup li:not([class*="ui-fill-"]):hover {
  background-color: var(--ui-listgroup-hover-bg);
}
.ui-listgroup.ui-round > ul:not([class*="ui-list-col-"]) > li:first-child,
.ui-listgroup.ui-round > ul:not([class*="ui-list-col-"]) > li:first-child > a:not(.ui-listgroup-url) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ui-listgroup.ui-round > ul:not([class*="ui-list-col-"]) > li:last-child,
.ui-listgroup.ui-round > ul:not([class*="ui-list-col-"]) > li:last-child > a:not(.ui-listgroup-url) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ui-listgroup [class*="ui-listgroup-has-avatar"] .ui-avatar,
.ui-listgroup [class*="ui-listgroup-has-avatar"] .ui-avatar-lg,
.ui-listgroup [class*="ui-listgroup-has-avatar"] .ui-avatar-sm,
.ui-listgroup [class*="ui-listgroup-has-avatar"] .ui-avatar-xs {
  position: absolute;
  top: 10px;
  left: 10px;
}
.ui-listgroup .ui-listgroup-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0.45;
}
.ui-listgroup .ui-listgroup-has-icon-xxl > li,
.ui-listgroup .ui-listgroup-has-icon-xxl > li > a:not(.ui-listgroup-url) {
  padding-right: 70px;
}
.ui-listgroup .ui-listgroup-has-icon-xxl > li > a:not(.ui-listgroup-url) {
  margin-right: -70px;
}
.ui-listgroup .ui-listgroup-has-icon-xxl .ui-listgroup-icon {
  width: 50px;
  height: 50px;
}
.ui-listgroup .ui-listgroup-has-icon-xl > li,
.ui-listgroup .ui-listgroup-has-icon-xl > li > a:not(.ui-listgroup-url) {
  padding-right: 54px;
}
.ui-listgroup .ui-listgroup-has-icon-xl > li > a:not(.ui-listgroup-url) {
  margin-right: -54px;
}
.ui-listgroup .ui-listgroup-has-icon-xl .ui-listgroup-icon {
  width: 34px;
  height: 34px;
}
.ui-listgroup .ui-listgroup-has-icon-lg > li,
.ui-listgroup .ui-listgroup-has-icon-lg > li > a:not(.ui-listgroup-url) {
  padding-right: 46px;
}
.ui-listgroup .ui-listgroup-has-icon-lg > li > a:not(.ui-listgroup-url) {
  margin-right: -46px;
}
.ui-listgroup .ui-listgroup-has-icon-lg .ui-listgroup-icon {
  width: 26px;
  height: 26px;
}
.ui-listgroup .ui-listgroup-has-icon-sm > li,
.ui-listgroup .ui-listgroup-has-icon-sm > li > a:not(.ui-listgroup-url) {
  padding-right: 38px;
}
.ui-listgroup .ui-listgroup-has-icon-sm > li > a:not(.ui-listgroup-url) {
  margin-right: -38px;
}
.ui-listgroup .ui-listgroup-has-icon-sm .ui-listgroup-icon {
  width: 18px;
  height: 18px;
}
.ui-listgroup .ui-listgroup-has-icon-xs > li,
.ui-listgroup .ui-listgroup-has-icon-xs > li > a:not(.ui-listgroup-url) {
  padding-right: 34px;
}
.ui-listgroup .ui-listgroup-has-icon-xs > li > a:not(.ui-listgroup-url) {
  margin-right: -34px;
}
.ui-listgroup .ui-listgroup-has-icon-xs .ui-listgroup-icon {
  width: 14px;
  height: 14px;
}
.ui-listgroup .ui-listgroup-has-avatar-lg li,
.ui-listgroup .ui-listgroup-has-avatar-lg li > a:not(.ui-listgroup-url) {
  min-height: 100px;
  padding-left: 100px;
}
.ui-listgroup .ui-listgroup-has-avatar-lg li > a:not(.ui-listgroup-url) {
  margin-left: -100px;
}
.ui-listgroup .ui-listgroup-has-avatar li,
.ui-listgroup .ui-listgroup-has-avatar li > a:not(.ui-listgroup-url) {
  min-height: 70px;
  padding-left: 70px;
}
.ui-listgroup .ui-listgroup-has-avatar li > a:not(.ui-listgroup-url) {
  margin-left: -70px;
}
.ui-listgroup .ui-listgroup-has-avatar-sm li,
.ui-listgroup .ui-listgroup-has-avatar-sm li > a:not(.ui-listgroup-url) {
  min-height: 68px;
  padding-left: 68px;
}
.ui-listgroup .ui-listgroup-has-avatar-sm li > a:not(.ui-listgroup-url) {
  margin-left: -68px;
}
.ui-listgroup .ui-listgroup-has-avatar-xs li,
.ui-listgroup .ui-listgroup-has-avatar-xs li > a:not(.ui-listgroup-url) {
  min-height: 62px;
  padding-left: 62px;
}
.ui-listgroup .ui-listgroup-has-avatar-xs li > a:not(.ui-listgroup-url) {
  margin-left: -62px;
}
