/* map */
.ui-map {
  position: relative;
}
.ui-map svg {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
html:not(.ui-ie) .ui-map svg {
  height: auto;
}
.ui-ie .ui-map svg {
  height: 360px;
}
.ui-map svg path {
  stroke-width: 1;
}
.ui-map svg path:not([fill]) {
  fill: currentColor;
  opacity: 0.25;
}
.ui-map svg path:not([fill]):hover {
  opacity: 1;
}
.ui-map svg path:not([stroke]) {
  stroke: var(--ui-body-bg);
}
.ui-card .ui-map svg path:not([stroke]) {
  stroke: var(--ui-card-bg);
}
.ui-map svg path.ui-active:not([fill]) {
  fill: currentColor;
}
.ui-map svg path.ui-active:hover {
  opacity: 1 !important;
}
.ui-map svg path[data-ui-href] {
  cursor: pointer;
}
