/* notifier */
.ui-notifier {
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.ui-notifier:after {
  box-sizing: border-box;
  content: "";
  color: hsl(0, 0%, 100%);
  min-width: 8px;
  min-height: 8px;
  background-color: hsl(345, 74%, 52%);
  border-radius: 1000px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.ui-notifier:not(.ui-circle):after {
  top: 0;
  left: 100%;
}
.ui-notifier.ui-circle:after {
  top: 13%;
  left: 87%;
}
.ui-notifier[data-ui-val]:after {
  content: attr(data-ui-val);
  font-size: 12px;
  text-align: center !important;
  line-height: 1;
  min-width: 16px;
  min-height: 12px;
  padding: 2px 4px;
}
.ui-notifier-lg:after {
  min-width: 16px;
  min-height: 16px;
}
.ui-notifier-lg[data-ui-val]:after {
  font-size: 16px;
  line-height: 1.2;
  min-width: 24px;
  min-height: 24px;
  padding: 3px 6px;
}
