/* pie chart */
@keyframes ui-pie-spin-l {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes ui-pie-spin-r {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.ui-pie-chart {
  position: relative;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ui-pie-chart[data-ui-info]:before {
  content: attr(data-ui-info);
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  min-width: 20px;
  min-height: 20px;
  background: hsl(0, 0%, 100%);
  padding: 2px 4px;
  display: inline-block;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.ui-pie-chart > div span {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 50%;
  z-index: 1;
  transform-origin: left top;
}
.ui-pie-chart > div span i {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  background: hsl(0, 0%, 100%);
  padding: 2px 4px;
  margin-right: 5px;
  border-radius: 1000px;
  float: right;
}
.ui-pie-chart > div span i[data-ui-tooltip] {
  cursor: pointer;
}
.ui-pie-chart:not(.ui-open-ease) > div span {
  opacity: 0;
}
.ui-pie-chart ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  position: relative;
}
.ui-pie-chart ul:after {
  content: "";
  background-color: currentColor;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  opacity: 0.05;
}
.ui-pie-chart li {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
}
.ui-pie-chart li:first-child {
  position: relative;
}
.ui-pie-chart li:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.ui-pie-chart li span {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.ui-pie-chart li span b {
  background-color: currentColor;
  width: 100%;
  height: 100%;
  position: absolute;
}
.ui-pie-chart li .ui-pie-l {
  left: 0;
}
.ui-pie-chart li .ui-pie-l b {
  left: 100%;
  border-radius: 0 1000px 1000px 0;
  -ms-transform-origin: left;
  transform-origin: left;
}
.ui-pie-chart li .ui-pie-r {
  overflow: hidden;
  left: 50%;
}
.ui-pie-chart li .ui-pie-r b {
  left: -100%;
  border-radius: 1000px 0 0 1000px;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform-origin: right;
  transform-origin: right;
}
.ui-pie-chart:not(.ui-open) li {
  opacity: 0;
}
.ui-pie-chart.ui-open li .ui-pie-l b {
  animation: ui-pie-spin-l 1.6s ease-out forwards;
}
.ui-pie-chart.ui-open li .ui-pie-l + .ui-pie-r b {
  animation: ui-pie-spin-r 0.8s ease-in forwards;
}
.ui-pie-chart.ui-open li .ui-pie-r b {
  animation: ui-pie-spin-r 1.6s ease-in forwards;
}
