/* progress bar */
[data-ui-mode="light"] {
  --ui-progress-bar-bg: hsla(0, 0%, 0%, 0.075);
}
[data-ui-mode="dark"] {
  --ui-progress-bar-bg: hsla(0, 0%, 0%, 0.45);
}
@keyframes ui-progress-fill {
  from {
    width: 0;
  }
}
.ui-progress-bar {
  color: hsl(0, 0%, 100%);
  height: 14px;
  background-color: var(--ui-progress-bar-bg);
  padding: 2px;
  display: block;
}
.ui-progress-bar:not(:last-child) {
  margin-bottom: 20px;
}
.ui-progress-bar > span {
  width: 0;
  height: 10px;
  background-color: hsl(345, 74%, 52%);
  overflow: hidden;
  float: left;
}
.ui-progress-bar > span:not([class*="animate-"]) {
  animation: ui-progress-fill 2s ease-in-out forwards;
}
.ui-progress-bar:not(.ui-progress-lg):not(.ui-progress-xl):not(.ui-progress-xxl) > span {
  font-size: 0 !important;
}
.ui-progress-bar.ui-border > span {
  height: 8px;
}
.ui-progress-bar.ui-border-dual > span {
  height: 6px;
}
.ui-progress-bar.ui-round {
  border-radius: 6.66666667px;
}
.ui-progress-bar.ui-round > span:first-child {
  border-top-left-radius: 4.44444444px;
  border-bottom-left-radius: 4.44444444px;
}
.ui-progress-bar.ui-round > span:last-child {
  border-top-right-radius: 4.44444444px;
  border-bottom-right-radius: 4.44444444px;
}
.ui-progress-bar.ui-circle > span:first-child {
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}
.ui-progress-bar.ui-circle > span:last-child {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}
.ui-progress-xxl {
  height: 60px;
}
.ui-progress-xxl > span {
  font-size: 80%;
  text-align: center;
  line-height: 56px;
  height: 56px;
}
.ui-progress-xxl.ui-border-dual > span {
  line-height: 52px;
  height: 52px;
}
.ui-progress-xl {
  height: 40px;
}
.ui-progress-xl > span {
  font-size: 80%;
  text-align: center;
  line-height: 36px;
  height: 36px;
}
.ui-progress-xl.ui-border-dual > span {
  line-height: 32px;
  height: 32px;
}
.ui-progress-lg {
  height: 20px;
}
.ui-progress-lg > span {
  font-size: 80%;
  text-align: center;
  line-height: 16px;
  height: 16px;
}
.ui-progress-lg.ui-border-dual > span {
  line-height: 12px;
  height: 12px;
}
.ui-progress-sm {
  height: 10px;
}
.ui-progress-sm > span {
  line-height: 6px;
  height: 6px;
}
.ui-progress-sm.ui-border-dual > span {
  line-height: 2px;
  height: 2px;
}
