/* steps */
[data-ui-mode="light"] {
  --ui-steps-inactive-color: hsla(0, 0%, 0%, 0.32);
  --ui-steps-border: hsla(0, 0%, 0%, 0.12);
}
[data-ui-mode="dark"] {
  --ui-steps-inactive-color: hsla(0, 0%, 100%, 0.32);
  --ui-steps-border: hsla(0, 0%, 100%, 0.12);
}
.ui-steps-bar {
  list-style: none;
  display: flex;
}
.ui-steps-bar:not([class*="ui-text"]) {
  color: hsl(142, 82%, 42%);
}
.ui-steps-bar li {
  font-size: 11px;
  line-height: normal;
  text-align: center;
  position: relative;
  flex-grow: 1;
}
html:not(.ui-ie) .ui-steps-bar li {
  flex-basis: 100%;
}
.ui-steps-bar li:before {
  content: "";
  box-sizing: border-box;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  background-color: var(--ui-body-bg);
  width: 32px;
  height: 32px;
  margin: 5px auto;
  display: block;
  border: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.ui-card .ui-steps-bar li:before {
  background-color: var(--ui-card-bg);
}
.ui-steps-bar li:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: hsl(142, 82%, 42%);
  position: absolute;
  top: 19.5px;
  left: -50%;
  opacity: 0.42;
}
.ui-steps-bar li:first-child:after {
  content: none;
}
.ui-steps-bar li.ui-active:before {
  border-color: currentColor;
}
.ui-card .ui-steps-bar li.ui-active:before {
  background-color: var(--ui-card-bg) !important;
}
.ui-steps-bar li.ui-active ~ li {
  color: var(--ui-steps-inactive-color);
}
.ui-steps-bar li.ui-active ~ li:before {
  width: 32px;
  height: 32px;
  background-color: var(--ui-body-bg);
  margin: 5px auto;
  border-color: var(--ui-steps-border);
}
.ui-card .ui-steps-bar li.ui-active ~ li:before {
  background-color: var(--ui-card-bg);
  border-color: var(--ui-steps-border);
}
.ui-steps-bar li.ui-active ~ li:after {
  background-color: var(--ui-steps-border);
  left: -50%;
}
.ui-steps-bar li > span:not(.ui-no-steps),
.ui-steps-bar li > strong:not(.ui-no-steps) {
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.ui-steps-bar li > span:not(.ui-no-steps) + .ui-icon,
.ui-steps-bar li > strong:not(.ui-no-steps) + .ui-icon {
  display: none !important;
}
.ui-steps-bar:not(.ui-steps-icon) li.ui-active:before {
  background-color: var(--ui-body-bg);
}
.ui-steps-bar:not(.ui-steps-info) li:before {
  background-color: currentColor;
}
.ui-steps-bar[class*="ui-text"] li:before {
  border-color: currentColor;
}
.ui-steps-bar[class*="ui-text"] li:after {
  background-color: currentColor;
}
.ui-steps-bar.ui-steps-icon li:before {
  background-color: var(--ui-body-bg);
  border-color: var(--ui-body-bg);
}
.ui-card .ui-steps-bar.ui-steps-icon li:before {
  background-color: var(--ui-card-bg);
}
.ui-steps-bar.ui-steps-icon li > .ui-icon {
  color: currentColor;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.ui-steps-bar.ui-steps-icon li > .ui-icon + span:not(.ui-no-steps),
.ui-steps-bar.ui-steps-icon li > .ui-icon + strong:not(.ui-no-steps) {
  font-size: 0 !important;
}
.ui-steps-bar.ui-steps-icon li.ui-active ~ li > .ui-icon {
  width: 32px;
  height: 32px;
  top: 5px;
  opacity: 0;
}
.ui-steps-bar.ui-steps-icon li.ui-active ~ li > .ui-icon + span:not(.ui-no-steps),
.ui-steps-bar.ui-steps-icon li.ui-active ~ li > .ui-icon + strong:not(.ui-no-steps) {
  font-size: 16px !important;
}
.ui-steps-bar.ui-steps-info li:before {
  border-color: currentColor;
}
.ui-steps-bar.ui-steps-info li > span:not(.ui-no-steps),
.ui-steps-bar.ui-steps-info li > strong:not(.ui-no-steps) {
  color: currentColor;
  font-size: 16px;
  line-height: 32px;
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ui-steps-bar.ui-steps-info li.ui-active ~ li > span:not(.ui-no-steps),
.ui-steps-bar.ui-steps-info li.ui-active ~ li > strong:not(.ui-no-steps) {
  line-height: 32px;
  width: 32px;
  height: 32px;
  top: 5px;
}
