/* tab */
.ui-ease-tab .ui-tab .ui-toggle-icon {
  transition-property: opacity, transform;
  transition-duration: 0.3s;
}
.ui-ease-tab .ui-tab-content {
  transition-property: height, opacity;
  transition-duration: 0.3s;
}
.ui-tab-holder .ui-tab:not(.ui-btn-xs) .ui-toggle-icon {
  width: 14px !important;
  height: 14px !important;
}
.ui-tab-holder .ui-tab:not(.ui-btn-xs) .ui-toggle-icon.ui-float-r,
.ui-tab-holder .ui-tab:not(.ui-btn-xs) .ui-toggle-icon.ui-float-l {
  margin-top: 5px;
  margin-bottom: 5px;
}
.ui-tab-holder .ui-tab.ui-btn-xs .ui-toggle-icon {
  width: 12px !important;
  height: 12px !important;
}
.ui-tab-holder .ui-tab.ui-btn-xs .ui-toggle-icon.ui-float-r,
.ui-tab-holder .ui-tab.ui-btn-xs .ui-toggle-icon.ui-float-l {
  margin-top: 3px;
  margin-bottom: 3px;
}
.ui-tab-holder .ui-tab.ui-active > .ui-toggle-icon {
  transform: rotate(-180deg);
  opacity: 1;
}
.ui-tab-holder .ui-tab-content:not(.ui-open) {
  display: none !important;
}
.ui-tab-holder .ui-tab-content:not(.ui-open-ease) {
  opacity: 0;
}
.ui-tab-holder .ui-tab-content li > a:not(.ui-btn) {
  word-wrap: break-word;
  text-decoration: none;
}
.ui-dropdown .ui-tab-holder {
  min-width: 300px;
}
