/* tables */
[data-ui-mode="light"] {
  --ui-table-caption-bg: hsla(0, 0%, 0%, 0.025);
  --ui-table-stripe-bg: hsla(0, 0%, 0%, 0.045);
  --ui-table-hover-bg: hsla(0, 0%, 0%, 0.1);
  --ui-table-sidebar-bg: hsla(0, 0%, 0%, 0.025);
}
[data-ui-mode="dark"] {
  --ui-table-caption-bg: hsla(0, 0%, 100%, 0.025);
  --ui-table-stripe-bg: hsla(0, 0%, 100%, 0.035);
  --ui-table-hover-bg: hsla(0, 0%, 100%, 0.08);
  --ui-table-sidebar-bg: hsla(0, 0%, 100%, 0.025);
}
.ui-ease-table tr {
  transition-property: background-color;
  transition-duration: 0.15s;
}
.ui-table {
  width: 100%;
  background-color: var(--ui-card-bg);
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: top;
}
.ui-table:not(:last-child) {
  margin-bottom: 20px;
}
.ui-table.ui-table-caption-b {
  caption-side: bottom;
}
.ui-table caption {
  color: var(--ui-black);
  font-size: 16px;
  text-align: center;
  background-color: var(--ui-table-caption-bg);
  padding: 10px;
}
.ui-table th,
.ui-table td {
  font-weight: 400;
  vertical-align: top;
  text-align: left;
}
.ui-table:not([class*="ui-table-condensed"]) th,
.ui-table:not([class*="ui-table-condensed"]) td {
  padding: 10px;
}
.ui-table.ui-table-condensed:not(.ui-table-condensed-more) th,
.ui-table.ui-table-condensed:not(.ui-table-condensed-more) td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ui-table:not(.ui-table-no-sep) th,
.ui-table:not(.ui-table-no-sep) td {
  border-bottom: solid 1px var(--ui-table-border-color);
}
.ui-table .ui-table-nowrap th,
.ui-table .ui-table-nowrap td {
  white-space: nowrap;
  text-overflow: '';
  overflow: hidden;
}
.ui-table thead th {
  font-weight: 700;
}
.ui-table tbody tr:last-child th {
  border-bottom-width: 0;
}
.ui-table-sidebar td:first-of-type {
  font-weight: 700;
  background-color: var(--ui-table-sidebar-bg);
  border-right: solid 1px var(--ui-table-border-color);
}
.ui-table-sidebar.ui-align-c td:not(:first-child) {
  text-align: center;
}
.ui-table tbody:last-child tr:last-child td,
.ui-table tfoot tr:last-child td {
  border-bottom: 0;
}
.ui-table tr:last-child:not(:first-child) td {
  border-bottom: 0;
}
.ui-table:not(.ui-table-sidebar).ui-align-c td,
.ui-table:not(.ui-table-sidebar).ui-align-c th {
  text-align: center;
}
.ui-table.ui-border,
.ui-table[class*="ui-border-"] {
  border-color: var(--ui-table-border-color);
}
.ui-table-valign td,
.ui-table-valign th {
  vertical-align: middle !important;
}
.ui-table-scroll {
  width: 100%;
  overflow-x: auto;
}
.ui-mobile .ui-table-scroll {
  -webkit-overflow-scrolling: touch;
}
.ui-table-scroll .ui-table {
  margin-bottom: 0 !important;
}
.ui-table-scroll > .ui-table tr > * {
  white-space: nowrap;
}
.ui-table-striped tr:nth-child(even):not([class*="ui-fill-"]) {
  background-color: var(--ui-table-stripe-bg);
}
.ui-desktop .ui-table-hover tbody tr:not([class*="ui-fill-"]):hover {
  background-color: var(--ui-table-hover-bg);
}
.ui-table-border {
  border: solid 1px var(--ui-table-border-color);
}
.ui-table-border th:not(:last-child),
.ui-table-border td:not(:last-child) {
  border-right: solid 1px var(--ui-table-border-color);
}
@media (max-width: 959px) {
  .ui-table-fluid {
    width: 100%;
    overflow-x: auto;
  }
  .ui-mobile .ui-table-fluid {
    -webkit-overflow-scrolling: touch;
  }
  .ui-table-fluid .ui-table {
    margin-bottom: 0 !important;
  }
  .ui-table-fluid > .ui-table tr > * {
    white-space: nowrap;
  }
}
