/* top button */
.ui-top-button {
  text-align: center;
  width: 42px;
  height: 42px;
  background-color: var(--ui-btn-bg);
  display: none;
  border: 0;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 7;
  opacity: 0;
  cursor: pointer;
  transform: translateX(72px);
}
.ui-top-button.ui-round {
  border-radius: 6.66666667px;
}
.ui-top-button.ui-open {
  display: block;
}
.ui-top-button.ui-open-ease {
  opacity: 1;
  transform: translateX(0);
}
.ui-top-button .ui-icon {
  color: var(--ui-black);
}
.ui-desktop .ui-top-button:hover .ui-icon {
  transform: translateY(-3px);
}
@media (max-width: 320px) {
  .ui-top-button {
    display: none !important;
  }
}
